Esse notebook tem o propósito de analisar todos os arquivos, juntar eles baseados no KNR de cada carro, remover as colunas que não há KNR correlacionado e separar essa coluna em pequenos arquivos divididos em tipo de carro

In [11]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from functools import reduce

In [15]:
def read_excel_file(file_path):
    return pd.read_excel(file_path, header=1, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

In [47]:
excel_files = ['../static/FALHAS_04_05_06_2024.xlsx', '../static/RESULTADOS_02_03_2024.xlsx', '../static/RESULTADOS_04_06_2024.xlsx', '../static/RESULTADOS_06_2023_07_2023.xlsx', '../static/RESULTADOS_10_2023_11_2023.xlsx', '../static/RESULTADOS_12_2023_01_2024.xlsx', '../static/STATUS_PREDICTOR_ANO.xlsx']

In [51]:
dataframes = [read_excel_file(file) for file in excel_files]

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [37]:
teste = pd.read_excel("../static/RESULTADOS_08_2023_09_2023.xlsx", header=3, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

teste

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-2316418,012001,1,10,NaN,0,NaN,2023-08-02 12:04:16
1,2023-2316418,012002,1,10,NaN,0,NaN,2023-08-02 12:18:14
2,2023-2316418,012003,1,10,NaN,0,NaN,2023-08-02 12:18:27
3,2023-2316418,012004,1,10,NaN,0,NaN,2023-08-02 12:17:27
4,2023-2316418,018001,1,10,NaN,0,NaN,2023-08-02 11:57:29
...,...,...,...,...,...,...,...,...
1048566,2023-3016074,140700,2,10,Nm,2,8.05 ...,2023-08-07 07:24:17
1048567,2023-3016074,140700,2,10,Nm,0,8.10 ...,2023-08-07 07:24:17
1048568,2023-3016074,160100,2,10,Grad,1,129.00 ...,2023-08-07 06:56:45
1048569,2023-3016074,160100,2,10,Nm,0,14.10 ...,2023-08-07 06:56:45
1048570,2023-3016074,160200,2,10,Grad,1,63.00 ...,2023-08-07 06:56:46

In [49]:
teste2 = pd.read_excel('../static/FALHAS_PREDICT.xlsx', header=2, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

teste2

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),2023-01-09 22:24:44.272
1,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),2023-01-09 22:25:02.960
2,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,2023-01-10 09:18:25.238
3,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Emblema / logo - Adesivos em geral Solto(a) ¨,2023-01-10 09:18:40.728
4,2023-4130664,AUDI Q3,6Y6Y,DSN,PCEQS805,7000240,ZP82,Painel instrumentos Ruído (-),2023-01-10 11:17:56.489
...,...,...,...,...,...,...,...,...,...
663814,2024-1336453,T-CROSS,K2K2,DHS,HCEQS506,2051427,ZP7,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-03-27 14:52:39.400
663815,2024-1336485,T-CROSS,0Q0Q,DHS,HCEQS506,2044862,ZP7,PORTA TRASEIRA 03. CAVACO,2024-03-27 14:53:03.187
663816,2024-1346004,T-CROSS,A1A1,DHS,HCEQS506,2052733,ZP7,RACK DO TETO FELTRO APARENTE,2024-03-27 14:53:25.992
663817,2024-1336453,T-CROSS,K2K2,DHS,HCEQS506,2051427,ZP7,TAMPA TRASEIRA 07. FERVIDO,2024-03-27 14:53:29.873
663818,2024-1336485,T-CROSS,0Q0Q,DHS,HCEQS506,2044862,ZP7,PAINEL LATERAL PREP. PINTURA NOK,2024-03-27 14:54:05.634

In [52]:
print(dataframes)

[                 KNR   MODELO   COR MOTOR   ESTACAO  USUARIO HALLE  \
0       2023-2056234  T-CROSS  2R2R   DHS  HCEQS506  4013334  ZP7
1       2023-2056234  T-CROSS  2R2R   DHS  HCEQS506  4013334  ZP7
2       2023-2056234  T-CROSS  2R2R   DHS  PCEQS620  2058570  ZP6
3       2023-2056234  T-CROSS  2R2R   DHS  PCEQS999  2087715  ESPC
4       2023-3896001  T-CROSS  0Q0Q        HCEQS203  2043971  ZP5A
...              ...      ...   ...   ...       ...      ...   ...
328896  2024-2976012  T-CROSS  0QA1   DHS  PCEQS315  4005452  ZP5A
328897  2024-2976013  T-CROSS  0Q0Q   DHS  PCEQS101  4006390  ZP5
328898  2024-2976013  T-CROSS  0Q0Q   DHS  PCEQS101  4006390  ZP5
328899  2024-2976013  T-CROSS  0Q0Q   DHS  PCEQS118  2075628
328900  2024-2976013  T-CROSS  0Q0Q   DHS  PCEQS314  2061350  ZP5A

                                         FALHA                    DATA
0              PARALAMA DIANTEIRO 01. AMASSADO 2024-05-20 21:31:51.992
1             PORTA TRASEIRA 04. CAROÇO / PICO 2024-05-20 21:30:22.772
2          MÓDULO DO ACC (13) PEÇA INCORRETA ¨ 2024-05-20 20:04:55.534
3        TAMPA TRASEIRA 05. SUJEIRA NA PINTURA 2024-04-11 12:15:39.616
4       TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA 2024-06-05 17:38:51.565
...                                        ...                     ...
328896             TETO 05. SUJEIRA NA PINTURA 2024-06-20 08:14:38.154
328897        PAINEL LATERAL 04. CAROÇO / PICO 2024-05-21 13:55:23.385
328898        PAINEL LATERAL 04. CAROÇO / PICO 2024-05-21 13:55:24.775
328899         WPK (CÉLULA 10) FALTA LIBERACAO 2024-05-17 06:20:59.105
328900   PAINEL LATERAL 05. SUJEIRA NA PINTURA 2024-05-28 11:50:38.507

[328901 rows x 9 columns],                   KNR                  NAME   ID  STATUS        UNIT  \
0        2023-5076008  SECTION_ZP8_00000001  718      13  V
1        2023-5076008  SECTION_ZP8_00000001  718      13  V
2        2023-5076008  SECTION_ZP8_00000001  718      10  V
3        2023-5076015  SECTION_ZP8_00000001  718      13  V
4        2023-5076015  SECTION_ZP8_00000001  718      10  V
...               ...                   ...  ...     ...         ...
1048568  2024-0626325                324000    2      10  Grad
1048569  2024-0626325                324000    2      10  Grad
1048570  2024-0626325                324000    2      10  Nm
1048571  2024-0626325                324000    2      10  Nm
1048572  2024-0626325                324100    2      10  Grad

         VALUE_ID                                              VALUE  \
0            80.0  12.479                                        ...
1            80.0  12.617                                        ...
2            80.0  12.951                                        ...
3            80.0  12.223                                        ...
4            80.0  12.855                                        ...
...           ...                                                ...
1048568       1.0  90.59                                         ...
1048569       3.0  90.63                                         ...
1048570       0.0  145.06                                        ...
1048571       2.0  153.68                                        ...
1048572       3.0  90.00                                         ...

                       DATA
0       2024-02-02 08:03:03
1       2024-02-02 07:37:59
2       2024-02-02 08:32:14
3       2024-02-07 14:05:16
4       2024-02-07 14:31:41
...                     ...
1048568 2024-02-02 06:08:47
1048569 2024-02-02 06:08:47
1048570 2024-02-02 06:08:47
1048571 2024-02-02 06:08:47
1048572 2024-02-02 06:14:39

[1048573 rows x 8 columns],                   KNR    NAME  ID  STATUS        UNIT  VALUE_ID  \
0        2023-2056234  012001   1      10         NaN       NaN
1        2023-2056234  012002   1      10         NaN       NaN
2        2023-2056234  012003   1      10         NaN       NaN
3        2023-2056234  012004   1      10         NaN       NaN
4        2023-2056234  012008   1      10         NaN       NaN
...               ...     ...  ..     ...         ...       ...
1048568  2024-1446373  216100   2      10  Grad             1.0
1048569  2024-1446373  216100   2      10  Nm               0.0
1048570  2024-1446373  216100   2      10  Nm               2.0
1048571  2024-1446373  216100   2      10         NaN       NaN
1048572  2024-1446373  216200   2      10  Grad             3.0

                                                     VALUE                DATA
0                                                      NaN 2024-05-16 13:41:25
1                                                      NaN 2024-05-16 14:12:35
2                                                      NaN 2024-05-16 14:12:27
3                                                      NaN 2024-05-16 14:11:07
4                                                      NaN 2024-05-16 14:13:07
...                                                    ...                 ...
1048568  88.4                                          ... 2024-04-08 10:47:39
1048569  23.1                                          ... 2024-04-08 10:47:39
1048570  23.3                                          ... 2024-04-08 10:47:39
1048571                                                NaN 2024-04-08 10:47:39
1048572  36.7                                          ... 2024-04-08 10:47:52

[1048573 rows x 8 columns],                   KNR    NAME  ID  STATUS        UNIT  VALUE_ID  \
0        2023-2016173  272500   2      10  Grad               1
1        2023-2016173  272500   2      10  Grad               3
2        2023-2016173  272500   2      10  Nm                 0
3        2023-2016173  272500   2      10  Nm                 2
4        2023-2016173  580300   2      10  Grad               3
...               ...     ...  ..     ...         ...       ...
1048568  2023-2636076  760300   2      10  Nm                 0
1048569  2023-2636076  760400   2      10  Grad               1
1048570  2023-2636076  760400   2      10  Nm                 0
1048571  2023-2636076  760500   2      10  Grad               1
1048572  2023-2636076  760500   2      10  Nm                 0

                                                     VALUE                DATA
0        1.00                                          ... 2023-06-06 07:07:30
1        253.00                                        ... 2023-06-06 07:07:30
2        2.05                                          ... 2023-06-06 07:07:30
3        6.00                                          ... 2023-06-06 07:07:30
4        13.00                                         ... 2023-06-06 07:07:10
...                                                    ...                 ...
1048568  14.22                                         ... 2023-06-23 13:42:07
1048569  90.00                                         ... 2023-06-23 13:42:15
1048570  14.23                                         ... 2023-06-23 13:42:15
1048571  87.00                                         ... 2023-07-05 06:49:44
1048572  14.19                                         ... 2023-07-05 06:49:44

[1048573 rows x 8 columns],                   KNR    NAME  ID  STATUS        UNIT  VALUE_ID  \
0        2023-2316417  012001   1      10         NaN         0
1        2023-2316417  012002   1      10         NaN         0
2        2023-2316417  012003   1      10         NaN         0
3        2023-2316417  012004   1      10         NaN         0
4        2023-2316417  018001   1      10         NaN         0
...               ...     ...  ..     ...         ...       ...
1048568  2023-4036280  552400   2      10  Nm                 0
1048569  2023-4036280  552500   2      10  Grad               3
1048570  2023-4036280  552500   2      10  Grad               5
1048571  2023-4036280  552500   2      10  Grad               1
1048572  2023-4036280  552500   2      10  Grad               7

                                                     VALUE                DATA
0                                                      NaN 2023-11-07 13:05:08
1                                                      NaN 2023-11-07 13:23:11
2                                                      NaN 2023-11-07 13:23:18
3                                                      NaN 2023-11-07 13:22:00
4                                                      NaN 2023-11-07 14:06:56
...                                                    ...                 ...
1048568  40.74                                         ... 2023-10-05 13:03:05
1048569  109.00                                        ... 2023-10-05 13:03:05
1048570  111.00                                        ... 2023-10-05 13:03:05
1048571  114.00                                        ... 2023-10-05 13:03:05
1048572  97.00                                         ... 2023-10-05 13:03:05

[1048573 rows x 8 columns],                   KNR    NAME  ID  STATUS        UNIT  VALUE_ID  \
0        2023-2056234  192600   2      10  Grad               1
1        2023-2056234  192600   2      10  Grad               3
2        2023-2056234  192600   2      10  Nm                 2
3        2023-2056234  192600   2      10  Nm                 0
4        2023-2056234  192700   2      10  Grad               3
...               ...     ...  ..     ...         ...       ...
1048568  2023-4926054  524400   2      10  Grad               1
1048569  2023-4926054  524400   2      10  Grad               3
1048570  2023-4926054  524400   2      10  Nm                 0
1048571  2023-4926054  524400   2      10  Nm                 2
1048572  2023-4926054  550100   2      10  Grad               1

                                                     VALUE                DATA
0        10.1                                          ... 2023-12-06 07:07:09
1        13.8                                          ... 2023-12-06 07:07:09
2        20.08                                         ... 2023-12-06 07:07:09
3        20.14                                         ... 2023-12-06 07:07:09
4        10.9                                          ... 2023-12-06 07:06:58
...                                                    ...                 ...
1048568  17.17                                         ... 2023-12-05 15:45:37
1048569  17.74                                         ... 2023-12-05 15:45:37
1048570  20.18                                         ... 2023-12-05 15:45:37
1048571  20.27                                         ... 2023-12-05 15:45:37
1048572  35.00                                         ... 2023-12-05 14:01:45

[1048573 rows x 8 columns],                   KNR STATUS                DATA
0        2023-2016173   G620 2023-06-06 07:50:27
1        2023-2016173   M620 2023-06-06 07:50:27
2        2023-2026032   G620 2023-06-20 17:35:51
3        2023-2026032   M620 2023-06-20 17:35:51
4        2023-2026085   G620 2023-06-22 20:22:36
...               ...    ...                 ...
1048568  2023-4026001   G800 2023-10-05 06:18:10
1048569  2023-4026002   A600 2023-09-28 14:32:41
1048570  2023-4026002   R100 2023-09-28 14:32:42
1048571  2023-4026002   R120 2023-09-29 00:09:03
1048572  2023-4026002   R480 2023-09-29 07:02:34

[1048573 rows x 3 columns]]

In [53]:
dataframes.append(teste)

In [54]:
dataframes.append(teste2)

In [55]:
dataframes

[                 KNR   MODELO   COR MOTOR   ESTACAO  USUARIO HALLE  \
 0       2023-2056234  T-CROSS  2R2R   DHS  HCEQS506  4013334  ZP7
 1       2023-2056234  T-CROSS  2R2R   DHS  HCEQS506  4013334  ZP7
 2       2023-2056234  T-CROSS  2R2R   DHS  PCEQS620  2058570  ZP6
 3       2023-2056234  T-CROSS  2R2R   DHS  PCEQS999  2087715  ESPC
 4       2023-3896001  T-CROSS  0Q0Q        HCEQS203  2043971  ZP5A
 ...              ...      ...   ...   ...       ...      ...   ...
 328896  2024-2976012  T-CROSS  0QA1   DHS  PCEQS315  4005452  ZP5A
 328897  2024-2976013  T-CROSS  0Q0Q   DHS  PCEQS101  4006390  ZP5
 328898  2024-2976013  T-CROSS  0Q0Q   DHS  PCEQS101  4006390  ZP5
 328899  2024-2976013  T-CROSS  0Q0Q   DHS  PCEQS118  2075628
 328900  2024-2976013  T-CROSS  0Q0Q   DHS  PCEQS314  2061350  ZP5A

                                          FALHA                    DATA
 0              PARALAMA DIANTEIRO 01. AMASSADO 2024-05-20 21:31:51.992
 1             PORTA TRASEIRA 04. CAROÇO / PICO 2024-05-20 21:30:22.772
 2          MÓDULO DO ACC (13) PEÇA INCORRETA ¨ 2024-05-20 20:04:55.534
 3        TAMPA TRASEIRA 05. SUJEIRA NA PINTURA 2024-04-11 12:15:39.616
 4       TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA 2024-06-05 17:38:51.565
 ...                                        ...                     ...
 328896             TETO 05. SUJEIRA NA PINTURA 2024-06-20 08:14:38.154
 328897        PAINEL LATERAL 04. CAROÇO / PICO 2024-05-21 13:55:23.385
 328898        PAINEL LATERAL 04. CAROÇO / PICO 2024-05-21 13:55:24.775
 328899         WPK (CÉLULA 10) FALTA LIBERACAO 2024-05-17 06:20:59.105
 328900   PAINEL LATERAL 05. SUJEIRA NA PINTURA 2024-05-28 11:50:38.507

 [328901 rows x 9 columns],
                   KNR                  NAME   ID  STATUS        UNIT  \
 0        2023-5076008  SECTION_ZP8_00000001  718      13  V
 1        2023-5076008  SECTION_ZP8_00000001  718      13  V
 2        2023-5076008  SECTION_ZP8_00000001  718      10  V
 3        2023-5076015  SECTION_ZP8_00000001  718      13  V
 4        2023-5076015  SECTION_ZP8_00000001  718      10  V
 ...               ...                   ...  ...     ...         ...
 1048568  2024-0626325                324000    2      10  Grad
 1048569  2024-0626325                324000    2      10  Grad
 1048570  2024-0626325                324000    2      10  Nm
 1048571  2024-0626325                324000    2      10  Nm
 1048572  2024-0626325                324100    2      10  Grad

          VALUE_ID                                              VALUE  \
 0            80.0  12.479                                        ...
 1            80.0  12.617                                        ...
 2            80.0  12.951                                        ...
 3            80.0  12.223                                        ...
 4            80.0  12.855                                        ...
 ...           ...                                                ...
 1048568       1.0  90.59                                         ...
 1048569       3.0  90.63                                         ...
 1048570       0.0  145.06                                        ...
 1048571       2.0  153.68                                        ...
 1048572       3.0  90.00                                         ...

                        DATA
 0       2024-02-02 08:03:03
 1       2024-02-02 07:37:59
 2       2024-02-02 08:32:14
 3       2024-02-07 14:05:16
 4       2024-02-07 14:31:41
 ...                     ...
 1048568 2024-02-02 06:08:47
 1048569 2024-02-02 06:08:47
 1048570 2024-02-02 06:08:47
 1048571 2024-02-02 06:08:47
 1048572 2024-02-02 06:14:39

 [1048573 rows x 8 columns],
                   KNR    NAME  ID  STATUS        UNIT  VALUE_ID  \
 0        2023-2056234  012001   1      10         NaN       NaN
 1        2023-2056234  012002   1      10         NaN       NaN
 2        2023-2056234  012003   1      10         NaN       NaN
 3        2023-2056234  012004   1      10         NaN       NaN
 4        2023-2056234  012008   1      10         NaN       NaN
 ...               ...     ...  ..     ...         ...       ...
 1048568  2024-1446373  216100   2      10  Grad             1.0
 1048569  2024-1446373  216100   2      10  Nm               0.0
 1048570  2024-1446373  216100   2      10  Nm               2.0
 1048571  2024-1446373  216100   2      10         NaN       NaN
 1048572  2024-1446373  216200   2      10  Grad             3.0

                                                      VALUE                DATA
 0                                                      NaN 2024-05-16 13:41:25
 1                                                      NaN 2024-05-16 14:12:35
 2                                                      NaN 2024-05-16 14:12:27
 3                                                      NaN 2024-05-16 14:11:07
 4                                                      NaN 2024-05-16 14:13:07
 ...                                                    ...                 ...
 1048568  88.4                                          ... 2024-04-08 10:47:39
 1048569  23.1                                          ... 2024-04-08 10:47:39
 1048570  23.3                                          ... 2024-04-08 10:47:39
 1048571                                                NaN 2024-04-08 10:47:39
 1048572  36.7                                          ... 2024-04-08 10:47:52

 [1048573 rows x 8 columns],
                   KNR    NAME  ID  STATUS        UNIT  VALUE_ID  \
 0        2023-2016173  272500   2      10  Grad               1
 1        2023-2016173  272500   2      10  Grad               3
 2        2023-2016173  272500   2      10  Nm                 0
 3        2023-2016173  272500   2      10  Nm                 2
 4        2023-2016173  580300   2      10  Grad               3
 ...               ...     ...  ..     ...         ...       ...
 1048568  2023-2636076  760300   2      10  Nm                 0
 1048569  2023-2636076  760400   2      10  Grad               1
 1048570  2023-2636076  760400   2      10  Nm                 0
 1048571  2023-2636076  760500   2      10  Grad               1
 1048572  2023-2636076  760500   2      10  Nm                 0

                                                      VALUE                DATA
 0        1.00                                          ... 2023-06-06 07:07:30
 1        253.00                                        ... 2023-06-06 07:07:30
 2        2.05                                          ... 2023-06-06 07:07:30
 3        6.00                                          ... 2023-06-06 07:07:30
 4        13.00                                         ... 2023-06-06 07:07:10
 ...                                                    ...                 ...
 1048568  14.22                                         ... 2023-06-23 13:42:07
 1048569  90.00                                         ... 2023-06-23 13:42:15
 1048570  14.23                                         ... 2023-06-23 13:42:15
 1048571  87.00                                         ... 2023-07-05 06:49:44
 1048572  14.19                                         ... 2023-07-05 06:49:44

 [1048573 rows x 8 columns],
                   KNR    NAME  ID  STATUS        UNIT  VALUE_ID  \
 0        2023-2316417  012001   1      10         NaN         0
 1        2023-2316417  012002   1      10         NaN         0
 2        2023-2316417  012003   1      10         NaN         0
 3        2023-2316417  012004   1      10         NaN         0
 4        2023-2316417  018001   1      10         NaN         0
 ...               ...     ...  ..     ...         ...       ...
 1048568  2023-4036280  552400   2      10  Nm                 0
 1048569  2023-4036280  552500   2      10  Grad               3
 1048570  2023-4036280  552500   2      10  Grad               5
 1048571  2023-4036280  552500   2      10  Grad               1
 1048572  2023-4036280  552500   2      10  Grad               7

                                                      VALUE                DATA
 0                                                      NaN 2023-11-07 13:05:08
 1                                                      NaN 2023-11-07 13:23:11
 2                                                      NaN 2023-11-07 13:23:18
 3                                                      NaN 2023-11-07 13:22:00
 4                                                      NaN 2023-11-07 14:06:56
 ...                                                    ...                 ...
 1048568  40.74                                         ... 2023-10-05 13:03:05
 1048569  109.00                                        ... 2023-10-05 13:03:05
 1048570  111.00                                        ... 2023-10-05 13:03:05
 1048571  114.00                                        ... 2023-10-05 13:03:05
 1048572  97.00                                         ... 2023-10-05 13:03:05

 [1048573 rows x 8 columns],
                   KNR    NAME  ID  STATUS        UNIT  VALUE_ID  \
 0        2023-2056234  192600   2      10  Grad               1
 1        2023-2056234  192600   2      10  Grad               3
 2        2023-2056234  192600   2      10  Nm                 2
 3        2023-2056234  192600   2      10  Nm                 0
 4        2023-2056234  192700   2      10  Grad               3
 ...               ...     ...  ..     ...         ...       ...
 1048568  2023-4926054  524400   2      10  Grad               1
 1048569  2023-4926054  524400   2      10  Grad               3
 1048570  2023-4926054  524400   2      10  Nm                 0
 1048571  2023-4926054  524400   2      10  Nm                 2
 1048572  2023-4926054  550100   2      10  Grad               1

                                                      VALUE                DATA
 0        10.1                                          ... 2023-12-06 07:07:09
 1        13.8                                          ... 2023-12-06 07:07:09
 2        20.08                                         ... 2023-12-06 07:07:09
 3        20.14                                         ... 2023-12-06 07:07:09
 4        10.9                                          ... 2023-12-06 07:06:58
 ...                                                    ...                 ...
 1048568  17.17                                         ... 2023-12-05 15:45:37
 1048569  17.74                                         ... 2023-12-05 15:45:37
 1048570  20.18                                         ... 2023-12-05 15:45:37
 1048571  20.27                                         ... 2023-12-05 15:45:37
 1048572  35.00                                         ... 2023-12-05 14:01:45

 [1048573 rows x 8 columns],
                   KNR STATUS                DATA
 0        2023-2016173   G620 2023-06-06 07:50:27
 1        2023-2016173   M620 2023-06-06 07:50:27
 2        2023-2026032   G620 2023-06-20 17:35:51
 3        2023-2026032   M620 2023-06-20 17:35:51
 4        2023-2026085   G620 2023-06-22 20:22:36
 ...               ...    ...                 ...
 1048568  2023-4026001   G800 2023-10-05 06:18:10
 1048569  2023-4026002   A600 2023-09-28 14:32:41
 1048570  2023-4026002   R100 2023-09-28 14:32:42
 1048571  2023-4026002   R120 2023-09-29 00:09:03
 1048572  2023-4026002   R480 2023-09-29 07:02:34

 [1048573 rows x 3 columns],
                   KNR    NAME  ID  STATUS        UNIT VALUE_ID  \
 0        2023-2316418  012001   1      10         NaN        0
 1        2023-2316418  012002   1      10         NaN        0
 2        2023-2316418  012003   1      10         NaN        0
 3        2023-2316418  012004   1      10         NaN        0
 4        2023-2316418  018001   1      10         NaN        0
 ...               ...     ...  ..     ...         ...      ...
 1048566  2023-3016074  140700   2      10  Nm                2
 1048567  2023-3016074  140700   2      10  Nm                0
 1048568  2023-3016074  160100   2      10  Grad              1
 1048569  2023-3016074  160100   2      10  Nm                0
 1048570  2023-3016074  160200   2      10  Grad              1

                                                      VALUE                DATA
 0                                                      NaN 2023-08-02 12:04:16
 1                                                      NaN 2023-08-02 12:18:14
 2                                                      NaN 2023-08-02 12:18:27
 3                                                      NaN 2023-08-02 12:17:27
 4                                                      NaN 2023-08-02 11:57:29
 ...                                                    ...                 ...
 1048566  8.05                                          ... 2023-08-07 07:24:17
 1048567  8.10                                          ... 2023-08-07 07:24:17
 1048568  129.00                                        ... 2023-08-07 06:56:45
 1048569  14.10                                         ... 2023-08-07 06:56:45
 1048570  63.00                                         ... 2023-08-07 06:56:46

 [1048571 rows x 8 columns],
                  KNR   MODELO   COR MOTOR   ESTACAO  USUARIO HALLE  \
 0       2023-1326197  T-CROSS  0Q0Q   DHS  PCEQS100  2043521   ZP5
 1       2023-1326197  T-CROSS  0Q0Q   DHS  PCEQS100  2043521   ZP5
 2       2023-4130482  AUDI Q3  2Y2Y   DSN  PCEQS999  2054701  ESPC
 3       2023-4130482  AUDI Q3  2Y2Y   DSN  PCEQS999  2054701  ESPC
 4       2023-4130664  AUDI Q3  6Y6Y   DSN  PCEQS805  7000240  ZP82
 ...              ...      ...   ...   ...       ...      ...   ...
 663814  2024-1336453  T-CROSS  K2K2   DHS  HCEQS506  2051427  ZP7
 663815  2024-1336485  T-CROSS  0Q0Q   DHS  HCEQS506  2044862  ZP7
 663816  2024-1346004  T-CROSS  A1A1   DHS  HCEQS506  2052733  ZP7
 663817  2024-1336453  T-CROSS  K2K2   DHS  HCEQS506  2051427  ZP7
 663818  2024-1336485  T-CROSS  0Q0Q   DHS  HCEQS506  2044862  ZP7

                                                 FALHA                    DATA
 0                      Porta dianteira Folga (Ajuste) 2023-01-09 22:24:44.272
 1                       Porta traseira Folga (Ajuste) 2023-01-09 22:25:02.960
 2                        Lanterna tras (09) Interfere 2023-01-10 09:18:25.238
 3       Emblema / logo - Adesivos em geral Solto(a) ¨ 2023-01-10 09:18:40.728
 4                       Painel instrumentos Ruído (-) 2023-01-10 11:17:56.489
 ...                                               ...                     ...
 663814          TAMPA TRASEIRA 05. SUJEIRA NA PINTURA 2024-03-27 14:52:39.400
 663815                      PORTA TRASEIRA 03. CAVACO 2024-03-27 14:53:03.187
 663816                   RACK DO TETO FELTRO APARENTE 2024-03-27 14:53:25.992
 663817                     TAMPA TRASEIRA 07. FERVIDO 2024-03-27 14:53:29.873
 663818               PAINEL LATERAL PREP. PINTURA NOK 2024-03-27 14:54:05.634

 [663819 rows x 9 columns]]

In [56]:
for df in dataframes:
    if 'KNR' not in df.columns:
        raise KeyError(f"'KNR' column not found in one of the DataFrames: {df.columns.tolist()}")

In [ ]:
col = ""
df = df.astype(str)
df[col] = df.groupby(["KNR"])[col].transform(lambda x: "; ".join(x))

In [60]:
def merge_with_suffixes(left, right):
    common_cols = set(left.columns).intersection(set(right.columns)) - {'KNR'}
    if common_cols:
        right = right.rename(columns={col: f"{col}_right" for col in common_cols})
    return pd.merge(left, right, on='KNR')

In [62]:
merged_df = reduce(lambda left, right: pd.merge(left, right, on='KNR'), dataframes)

MergeError: Passing 'suffixes' which cause duplicate columns {'DATA_x'} is not allowed.