In [2]:
import pandas as pd

In [19]:
Resultados8 = pd.read_excel("../static/RESULTADOS_08_2023_09_2023.xlsx", sheet_name=None)

Resultados8

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

{'Relatório 1':          Unnamed: 0    Unnamed: 1 Unnamed: 2   Unnamed: 3 Unnamed: 4  \
 0               NaN           NaN        NaN  Relatório 1        NaN
 1               NaN           NaN        NaN          NaN        NaN
 2               NaN           KNR       NAME           ID     STATUS
 3               NaN  2023-2316418     012001            1         10
 4               NaN  2023-2316418     012002            1         10
 ...             ...           ...        ...          ...        ...
 1048569         NaN  2023-3016074     140700            2         10
 1048570         NaN  2023-3016074     140700            2         10
 1048571         NaN  2023-3016074     160100            2         10
 1048572         NaN  2023-3016074     160100            2         10
 1048573         NaN  2023-3016074     160200            2         10

          Unnamed: 5 Unnamed: 6  \
 0               NaN        NaN
 1               NaN        NaN
 2              UNIT   VALUE_ID
 3               NaN          0
 4               NaN          0
 ...             ...        ...
 1048569  Nm                  2
 1048570  Nm                  0
 1048571  Grad                1
 1048572  Nm                  0
 1048573  Grad                1

                                                 Unnamed: 7  \
 0                                                      NaN
 1                                                      NaN
 2                                                    VALUE
 3                                                      NaN
 4                                                      NaN
 ...                                                    ...
 1048569  8.05                                          ...
 1048570  8.10                                          ...
 1048571  129.00                                        ...
 1048572  14.10                                         ...
 1048573  63.00                                         ...

                   Unnamed: 8
 0                        NaN
 1                        NaN
 2                       DATA
 3        2023-08-02 12:04:16
 4        2023-08-02 12:18:14
 ...                      ...
 1048569  2023-08-07 07:24:17
 1048570  2023-08-07 07:24:17
 1048571  2023-08-07 06:56:45
 1048572  2023-08-07 06:56:45
 1048573  2023-08-07 06:56:46

 [1048574 rows x 9 columns],
 'Relatório 1(1)':          Unnamed: 0  2023-3016074  160200  2  10  Nm          0  \
 0               NaN  2023-3016074  160800  2  10  Grad        1
 1               NaN  2023-3016074  160800  2  10  Nm          0
 2               NaN  2023-3016074  160900  2  10  Grad        1
 3               NaN  2023-3016074  160900  2  10  Nm          0
 4               NaN  2023-3016074  190100  2  10  Grad        1
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-3056065  261500  2  10  Nm          2
 1048570         NaN  2023-3056065  261500  2  10  Nm          0
 1048571         NaN  2023-3056065  263000  2  10  Grad        3
 1048572         NaN  2023-3056065  263000  2  10  Grad        1
 1048573         NaN  2023-3056065  263000  2  10  Nm          2

         14.15                                              2023-08-07 06:56:46
 0        40.00                                         ... 2023-08-07 06:24:39
 1        35.17                                         ... 2023-08-07 06:24:39
 2        46.00                                         ... 2023-08-07 06:24:43
 3        35.70                                         ... 2023-08-07 06:24:43
 4        109.6                                         ... 2023-08-07 07:17:42
 ...                                                    ...                 ...
 1048569  14.16                                         ... 2023-08-11 13:01:01
 1048570  14.69                                         ... 2023-08-11 13:01:01
 1048571  42.00                                         ... 2023-08-11 10:28:44
 1048572  47.00                                         ... 2023-08-11 10:28:44
 1048573  14.15                                         ... 2023-08-11 10:28:44

 [1048574 rows x 9 columns],
 'Relatório 1(2)':          Unnamed: 0  2023-3056065  263000  2  10  Nm                    0  \
 0               NaN  2023-3056065  270500  2  10  Grad                  1
 1               NaN  2023-3056065  270500  2  10  Nm                    0
 2               NaN  2023-3056065  272500  2  10  Grad                  1
 3               NaN  2023-3056065  272500  2  10  Nm                    0
 4               NaN  2023-3056065  272700  2  10  Grad                  1
 ...             ...           ...     ... ..  ..         ...          ...
 1048569         NaN  2023-3146052  650100  2  10  Nm                    0
 1048570         NaN  2023-3146052  650200  2  10  Grad        #MULTIVALUE
 1048571         NaN  2023-3146052  650200  2  10  Nm                    0
 1048572         NaN  2023-3146052  650200  2  10  Nm                    2
 1048573         NaN  2023-3146052  650300  2  10  Grad                  1

         14.28                                              2023-08-11 10:28:44
 0        19.00                                         ... 2023-08-11 12:48:39
 1        20.29                                         ... 2023-08-11 12:48:39
 2        202.00                                        ... 2023-08-11 14:11:00
 3        6.09                                          ... 2023-08-11 14:11:00
 4        153.00                                        ... 2023-08-11 14:10:50
 ...                                                    ...                 ...
 1048569  54.94                                         ... 2023-08-16 13:58:20
 1048570  90.05                                         ... 2023-08-16 13:58:20
 1048571  40.54                                         ... 2023-08-16 13:58:20
 1048572  53.89                                         ... 2023-08-16 13:58:20
 1048573  90.05                                         ... 2023-08-16 13:57:52

 [1048574 rows x 9 columns],
 'Relatório 1(3)':          Unnamed: 0  2023-3146052  650300  2  10  Nm                    0  \
 0               NaN  2023-3146052  652300  2  10  Grad        #MULTIVALUE
 1               NaN  2023-3146052  652300  2  10  Nm                    2
 2               NaN  2023-3146052  652300  2  10  Nm                    0
 3               NaN  2023-3146052  720100  2  10  Grad                  3
 4               NaN  2023-3146052  720100  2  10  Grad                  1
 ...             ...           ...     ... ..  ..         ...          ...
 1048569         NaN  2023-3316108  317300  2  10  Nm                    0
 1048570         NaN  2023-3316108  317600  2  10  Grad                  5
 1048571         NaN  2023-3316108  317600  2  10  Grad                  1
 1048572         NaN  2023-3316108  317600  2  10  Grad                  3
 1048573         NaN  2023-3316108  317600  2  10  Nm                    2

         38.02                                              2023-08-16 13:57:52
 0        91.00                                         ... 2023-08-16 14:17:56
 1        13.08                                         ... 2023-08-16 14:17:56
 2        13.71                                         ... 2023-08-16 14:17:56
 3        26.4                                          ... 2023-08-14 12:25:07
 4        40.1                                          ... 2023-08-14 12:25:07
 ...                                                    ...                 ...
 1048569  80.53                                         ... 2023-08-28 08:49:10
 1048570  23.00                                         ... 2023-08-28 08:30:44
 1048571  25.00                                         ... 2023-08-28 08:30:44
 1048572  30.00                                         ... 2023-08-28 08:30:44
 1048573  12.18                                         ... 2023-08-28 08:30:44

 [1048574 rows x 9 columns],
 'Relatório 1(4)':          Unnamed: 0  2023-3316108  317600  2  10  Nm          0  \
 0               NaN  2023-3316108  317600  2  10  Nm          4
 1               NaN  2023-3316108  317700  2  10  Grad        3
 2               NaN  2023-3316108  317700  2  10  Grad        5
 3               NaN  2023-3316108  317700  2  10  Grad        1
 4               NaN  2023-3316108  317700  2  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-3516155  521700  2  10  Nm          0
 1048570         NaN  2023-3516155  521800  2  10  Grad        1
 1048571         NaN  2023-3516155  521800  2  10  Nm          0
 1048572         NaN  2023-3516155  522500  2  10  Grad        7
 1048573         NaN  2023-3516155  522500  2  10  Grad        5

         12.21                                              2023-08-28 08:30:44
 0        12.22                                         ... 2023-08-28 08:30:44
 1        28.00                                         ... 2023-08-28 08:30:25
 2        30.00                                         ... 2023-08-28 08:30:25
 3        32.00                                         ... 2023-08-28 08:30:25
 4        12.14                                         ... 2023-08-28 08:30:25
 ...                                                    ...                 ...
 1048569  20.11                                         ... 2023-08-25 07:00:52
 1048570  30.5                                          ... 2023-08-25 07:00:28
 1048571  20.4                                          ... 2023-08-25 07:00:28
 1048572  42.00                                         ... 2023-08-25 06:53:32
 1048573  43.00                                         ... 2023-08-25 06:53:32

 [1048574 rows x 9 columns],
 'Relatório 1(5)':          Unnamed: 0  2023-3516155                522500    2  10  Grad        \
 0               NaN  2023-3516155                522500    2  10  Grad
 1               NaN  2023-3516155                522500    2  10  Grad
 2               NaN  2023-3516155                522500    2  10  Nm
 3               NaN  2023-3516155                522500    2  10  Nm
 4               NaN  2023-3516155                522500    2  10  Nm
 ...             ...           ...                   ...  ...  ..         ...
 1048569         NaN  2023-3556154  SECTION_FAS_00000001  718  10         NaN
 1048570         NaN  2023-3556154  SECTION_IBN_00000001  718  10         NaN
 1048571         NaN  2023-3556154  SECTION_IBN_00000002  718  10         NaN
 1048572         NaN  2023-3556154  SECTION_IBN_00000003  718  10         NaN
 1048573         NaN  2023-3556154  SECTION_ROL_00000001  718  10         NaN

          9 44.00                                               \
 0        3  57.00                                         ...
 1        1  85.00                                         ...
 2        4  20.09                                         ...
 3        8  20.11                                         ...
 4        2  20.14                                         ...
 ...     ..                                                ...
 1048569  0                                                NaN
 1048570  0                                                NaN
 1048571  0                                                NaN
 1048572  0                                                NaN
 1048573  0                                                NaN

         2023-08-25 06:53:32
 0       2023-08-25 06:53:32
 1       2023-08-25 06:53:32
 2       2023-08-25 06:53:32
 3       2023-08-25 06:53:32
 4       2023-08-25 06:53:32
 ...                     ...
 1048569 2023-09-01 08:50:08
 1048570 2023-08-31 13:14:11
 1048571 2023-08-31 15:13:25
 1048572 2023-09-01 06:00:22
 1048573 2023-09-01 09:02:32

 [1048574 rows x 9 columns],
 'Relatório 1(6)':          Unnamed: 0  2023-3556154  SECTION_ROL_00000002  718  10  Unnamed: 5  \
 0               NaN  2023-3556154  SECTION_ROL_00000003  718  10         NaN
 1               NaN  2023-3556154  SECTION_ROL_00000004  718  10         NaN
 2               NaN  2023-3556154  SECTION_ROL_00000005  718  10         NaN
 3               NaN  2023-3556154  SECTION_ROL_00000007  718  10         NaN
 4               NaN  2023-3556154  SECTION_ROL_00000008  718  10         NaN
 ...             ...           ...                   ...  ...  ..         ...
 1048569         NaN  2023-3636121                263000    2  10  Nm
 1048570         NaN  2023-3636121                270500    2  10  Grad
 1048571         NaN  2023-3636121                270500    2  10  Nm
 1048572         NaN  2023-3636121                272500    2  10  Grad
 1048573         NaN  2023-3636121                272500    2  10  Nm

          0                                         Unnamed: 7  \
 0        0                                                NaN
 1        0                                                NaN
 2        0                                                NaN
 3        0                                                NaN
 4        0                                                NaN
 ...     ..                                                ...
 1048569  0  14.31                                         ...
 1048570  1  31.00                                         ...
 1048571  0  20.53                                         ...
 1048572  1  347.00                                        ...
 1048573  0  6.23                                          ...

         2023-09-01 09:02:32
 0       2023-09-01 09:02:32
 1       2023-09-01 09:02:32
 2       2023-09-01 09:02:32
 3       2023-09-01 09:02:32
 4       2023-09-01 09:02:32
 ...                     ...
 1048569 2023-09-06 12:03:48
 1048570 2023-09-06 13:25:02
 1048571 2023-09-06 13:25:02
 1048572 2023-09-06 14:46:25
 1048573 2023-09-06 14:46:25

 [1048574 rows x 9 columns],
 'Relatório 1(7)':          Unnamed: 0  2023-3636121  272700  2  10  Grad        1  \
 0               NaN  2023-3636121  272700  2  10  Nm          0
 1               NaN  2023-3636121  273300  2  10  Grad        1
 2               NaN  2023-3636121  273300  2  10  Nm          0
 3               NaN  2023-3636121  273400  2  10  Grad        1
 4               NaN  2023-3636121  273400  2  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-3746125  426500  2  10  Grad        7
 1048570         NaN  2023-3746125  426500  2  10  Grad        3
 1048571         NaN  2023-3746125  426500  2  10  Nm          4
 1048572         NaN  2023-3746125  426500  2  10  Nm          6
 1048573         NaN  2023-3746125  426500  2  10  Nm          2

         130.00                                             2023-09-06 14:46:15
 0        6.04                                          ... 2023-09-06 14:46:15
 1        23.00                                         ... 2023-09-06 14:46:28
 2        6.10                                          ... 2023-09-06 14:46:28
 3        19.00                                         ... 2023-09-06 14:33:15
 4        12.12                                         ... 2023-09-06 14:33:15
 ...                                                    ...                 ...
 1048569  38.00                                         ... 2023-09-22 13:53:15
 1048570  54.00                                         ... 2023-09-22 13:53:15
 1048571  11.96                                         ... 2023-09-22 13:53:15
 1048572  25.07                                         ... 2023-09-22 13:53:15
 1048573  25.29                                         ... 2023-09-22 13:53:15

 [1048574 rows x 9 columns],
 'Relatório 1(8)':          Unnamed: 0  2023-3746125                426500    2  10  Nm          \
 0               NaN  2023-3746125                426800    2  10  Grad
 1               NaN  2023-3746125                426800    2  10  Grad
 2               NaN  2023-3746125                426800    2  10  Nm
 3               NaN  2023-3746125                426800    2  10  Nm
 4               NaN  2023-3746125                426900    2  10  Grad
 ...             ...           ...                   ...  ...  ..         ...
 1048569         NaN  2023-3836125  SECTION_ROL_00000003  718  10         NaN
 1048570         NaN  2023-3836125  SECTION_ROL_00000004  718  10         NaN
 1048571         NaN  2023-3836125  SECTION_ROL_00000005  718  10         NaN
 1048572         NaN  2023-3836125  SECTION_ROL_00000007  718  10         NaN
 1048573         NaN  2023-3836125  SECTION_ROL_00000008  718  10         NaN

          0 3.26                                                \
 0        1  19.00                                         ...
 1        3  30.00                                         ...
 2        0  25.07                                         ...
 3        2  25.31                                         ...
 4        3  111.00                                        ...
 ...     ..                                                ...
 1048569  0                                                NaN
 1048570  0                                                NaN
 1048571  0                                                NaN
 1048572  0                                                NaN
 1048573  0                                                NaN

         2023-09-22 13:53:15
 0       2023-09-22 13:55:42
 1       2023-09-22 13:55:42
 2       2023-09-22 13:55:42
 3       2023-09-22 13:55:42
 4       2023-09-22 13:53:30
 ...                     ...
 1048569 2023-09-20 13:47:45
 1048570 2023-09-20 13:47:45
 1048571 2023-09-20 13:47:45
 1048572 2023-09-20 13:47:45
 1048573 2023-09-20 13:47:45

 [1048574 rows x 9 columns],
 'Relatório 1(9)':          Unnamed: 0  2023-3836125  SECTION_ROL_00000009  718  10  Unnamed: 5  \
 0               NaN  2023-3836125  SECTION_ZP8_00000001  718  10  V
 1               NaN  2023-3836125  UPSECOS_ALS_00000020  718  10  kg
 2               NaN  2023-3836125  UPSECOS_ALS_00000025  718  10  kg
 3               NaN  2023-3836125  UPSECOS_ALS_00000030  718  10  kg
 4               NaN  2023-3836125  UPSECOS_ALS_00000035  718  10  kg
 ...             ...           ...                   ...  ...  ..         ...
 1048569         NaN  2023-3926066                840300    2  10  Nm
 1048570         NaN  2023-3926066  SECTION_ALS_00000001  718  10
 1048571         NaN  2023-3926066  SECTION_ALS_00000001  718  10  Clicks
 1048572         NaN  2023-3926066  SECTION_ALS_00000001  718  10  kg
 1048573         NaN  2023-3926066  SECTION_ALS_00000001  718  10  kg

                    0                                         Unnamed: 7  \
 0                 80  12.429                                        ...
 1              10001  408.8                                         ...
 2              10002  383.6                                         ...
 3              10003  222.7                                         ...
 4              10004  257.8                                         ...
 ...              ...                                                ...
 1048569            0  8.03                                          ...
 1048570            2  -1.1                                          ...
 1048571  #MULTIVALUE  1                                             ...
 1048572           53  231                                           ...
 1048573           52  247.1                                         ...

         2023-09-20 13:41:06
 0       2023-09-21 18:00:36
 1       2023-09-20 13:29:56
 2       2023-09-20 13:29:56
 3       2023-09-20 13:29:56
 4       2023-09-20 13:29:56
 ...                     ...
 1048569 2023-09-25 07:29:54
 1048570 2023-09-25 10:23:04
 1048571 2023-09-25 10:23:04
 1048572 2023-09-25 10:23:04
 1048573 2023-09-25 10:23:04

 [1048574 rows x 9 columns],
 'Relatório 1(10)':         Unnamed: 0  2023-3926066  SECTION_ALS_00000001  718  10  kg          \

In [20]:
planilhas = []
for planilha,df in Resultados8.items():
    planilhas.append(planilha)
    print(planilha)

Relatório 1
Relatório 1(1)
Relatório 1(2)
Relatório 1(3)
Relatório 1(4)
Relatório 1(5)
Relatório 1(6)
Relatório 1(7)
Relatório 1(8)
Relatório 1(9)
Relatório 1(10)

In [21]:
prime = Resultados8['Relatório 1']
prime.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,Relatório 1,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
3,NaN,2023-2316418,012001,1,10,NaN,0,NaN,2023-08-02 12:04:16
4,NaN,2023-2316418,012002,1,10,NaN,0,NaN,2023-08-02 12:18:14

In [22]:
prime.drop(prime.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = prime.iloc[0]
# Pega todos os dados sem a primeira linha
prime = prime[1:]
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = prime.iloc[0]
# Pega todos os dados sem a primeira linha
prime = prime[1:]
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = prime.iloc[0]
# Pega todos os dados sem a primeira linha
prime = prime[1:]
#Atualiza as linhas
prime.columns = colunas

In [23]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)']

In [24]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = Resultados8[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [25]:
uniao = prime
for atual_df in lista:
    uniao = pd.concat([uniao, dfs[atual_df]], ignore_index=True)

In [26]:
uniao

2,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-2316418,012001,1,10,NaN,0,NaN,2023-08-02 12:04:16
1,2023-2316418,012002,1,10,NaN,0,NaN,2023-08-02 12:18:14
2,2023-2316418,012003,1,10,NaN,0,NaN,2023-08-02 12:18:27
3,2023-2316418,012004,1,10,NaN,0,NaN,2023-08-02 12:17:27
4,2023-2316418,018001,1,10,NaN,0,NaN,2023-08-02 11:57:29
...,...,...,...,...,...,...,...,...
11393173,2024-0576012,720100,2,10,Nm,0,10.06 ...,2023-09-27 08:31:53
11393174,2024-0576012,720200,2,10,Grad,1,22.5 ...,2023-09-27 08:31:53
11393175,2024-0576012,720200,2,10,Grad,3,32.9 ...,2023-09-27 08:31:53
11393176,2024-0576012,720200,2,10,Nm,2,10 ...,2023-09-27 08:31:53
11393177,2024-0576012,720200,2,10,Nm,0,10.05 ...,2023-09-27 08:31:53

In [27]:
uniao.to_csv('../static/RESULTADOS_08_2023_09_2023_juntados.csv')

In [11]:
Resultados2 = pd.read_excel("../static/RESULTADOS_02_03_2024.xlsx", sheet_name=None)

Resultados2

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

{'Relatório 1':          Unnamed: 0    Unnamed: 1            Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0               NaN           KNR                  NAME         ID     STATUS
 1               NaN  2023-5076008  SECTION_ZP8_00000001        718         13
 2               NaN  2023-5076008  SECTION_ZP8_00000001        718         13
 3               NaN  2023-5076008  SECTION_ZP8_00000001        718         10
 4               NaN  2023-5076015  SECTION_ZP8_00000001        718         13
 ...             ...           ...                   ...        ...        ...
 1048569         NaN  2024-0626325                324000          2         10
 1048570         NaN  2024-0626325                324000          2         10
 1048571         NaN  2024-0626325                324000          2         10
 1048572         NaN  2024-0626325                324000          2         10
 1048573         NaN  2024-0626325                324100          2         10

          Unnamed: 5 Unnamed: 6  \
 0              UNIT   VALUE_ID
 1        V                  80
 2        V                  80
 3        V                  80
 4        V                  80
 ...             ...        ...
 1048569  Grad                1
 1048570  Grad                3
 1048571  Nm                  0
 1048572  Nm                  2
 1048573  Grad                3

                                                 Unnamed: 7  \
 0                                                    VALUE
 1        12.479                                        ...
 2        12.617                                        ...
 3        12.951                                        ...
 4        12.223                                        ...
 ...                                                    ...
 1048569  90.59                                         ...
 1048570  90.63                                         ...
 1048571  145.06                                        ...
 1048572  153.68                                        ...
 1048573  90.00                                         ...

                   Unnamed: 8
 0                       DATA
 1        2024-02-02 08:03:03
 2        2024-02-02 07:37:59
 3        2024-02-02 08:32:14
 4        2024-02-07 14:05:16
 ...                      ...
 1048569  2024-02-02 06:08:47
 1048570  2024-02-02 06:08:47
 1048571  2024-02-02 06:08:47
 1048572  2024-02-02 06:08:47
 1048573  2024-02-02 06:14:39

 [1048574 rows x 9 columns],
 'Relatório 1(1)':          Unnamed: 0  2024-0626325  324100  2  10  Grad        1  \
 0               NaN  2024-0626325  324100  2  10  Nm          0
 1               NaN  2024-0626325  324100  2  10  Nm          2
 2               NaN  2024-0626325  324200  2  10  Grad        1
 3               NaN  2024-0626325  324200  2  10  Nm          0
 4               NaN  2024-0626325  330200  2  10  Grad        5
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0646494  720100  2  10  Nm          0
 1048570         NaN  2024-0646494  720200  2  10  Grad        1
 1048571         NaN  2024-0646494  720200  2  10  Grad        3
 1048572         NaN  2024-0646494  720200  2  10  Nm          0
 1048573         NaN  2024-0646494  720200  2  10  Nm          2

         91.00                                              2024-02-02 06:14:39
 0        29.39                                         ... 2024-02-02 06:14:39
 1        44.70                                         ... 2024-02-02 06:14:39
 2        90.00                                         ... 2024-02-02 06:14:49
 3        31.86                                         ... 2024-02-02 06:14:49
 4        90.34                                         ... 2024-02-02 07:44:24
 ...                                                    ...                 ...
 1048569  10.02                                         ... 2024-02-06 16:45:08
 1048570  20.6                                          ... 2024-02-06 16:45:08
 1048571  33                                            ... 2024-02-06 16:45:08
 1048572  10.05                                         ... 2024-02-06 16:45:08
 1048573  10.08                                         ... 2024-02-06 16:45:08

 [1048574 rows x 9 columns],
 'Relatório 1(2)':          Unnamed: 0  2024-0646494  720300  2  10  Grad          1  \
 0               NaN  2024-0646494  720300  2  10  Grad        3.0
 1               NaN  2024-0646494  720300  2  10  Nm          2.0
 2               NaN  2024-0646494  720300  2  10  Nm          0.0
 3               NaN  2024-0646494  720400  2  10  Grad        3.0
 4               NaN  2024-0646494  720400  2  10  Grad        1.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-0746154  425300  2  10  Nm          4.0
 1048570         NaN  2024-0746154  425300  2  10  Nm          6.0
 1048571         NaN  2024-0746154  425400  2  10  Grad        3.0
 1048572         NaN  2024-0746154  425400  2  10  Grad        1.0
 1048573         NaN  2024-0746154  425400  2  10  Nm          0.0

         125.00                                             2024-02-08 08:30:54
 0        139.00                                        ... 2024-02-08 08:30:54
 1        20.22                                         ... 2024-02-08 08:30:54
 2        20.29                                         ... 2024-02-08 08:30:54
 3        103.00                                        ... 2024-02-08 08:31:11
 4        39.00                                         ... 2024-02-08 08:31:11
 ...                                                    ...                 ...
 1048569  7.57                                          ... 2024-02-14 16:17:50
 1048570  7.58                                          ... 2024-02-14 16:17:50
 1048571  27.00                                         ... 2024-02-14 16:18:16
 1048572  39.00                                         ... 2024-02-14 16:18:16
 1048573  6.78                                          ... 2024-02-14 16:18:16

 [1048574 rows x 9 columns],
 'Relatório 1(3)':          Unnamed: 0  2024-0746154  425400  2  10  Nm          2.1  \
 0               NaN  2024-0746154  425500  2  10  Grad          3
 1               NaN  2024-0746154  425500  2  10  Grad          1
 2               NaN  2024-0746154  425500  2  10  Nm            2
 3               NaN  2024-0746154  425500  2  10  Nm            0
 4               NaN  2024-0746154  426400  2  10  Grad          3
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-0816319  315900  2  10  Nm            2
 1048570         NaN  2024-0816319  316000  2  10  Grad          1
 1048571         NaN  2024-0816319  316000  2  10  Nm            0
 1048572         NaN  2024-0816319  316300  2  10  Grad          1
 1048573         NaN  2024-0816319  316300  2  10  Nm            0

         7.58                                               2024-02-14 16:18:16
 0        23.00                                         ... 2024-02-14 16:17:59
 1        33.00                                         ... 2024-02-14 16:17:59
 2        7.50                                          ... 2024-02-14 16:17:59
 3        7.51                                          ... 2024-02-14 16:17:59
 4        130.00                                        ... 2024-02-14 18:06:55
 ...                                                    ...                 ...
 1048569  20.08                                         ... 2024-02-16 20:38:44
 1048570  42.00                                         ... 2024-02-16 20:38:54
 1048571  12.15                                         ... 2024-02-16 20:38:54
 1048572  13.31                                         ... 2024-02-16 17:55:11
 1048573  60.01                                         ... 2024-02-16 17:55:11

 [1048574 rows x 9 columns],
 'Relatório 1(4)':          Unnamed: 0  2024-0816319  316400  2  10  Grad        1  \
 0               NaN  2024-0816319  316400  2  10  Nm          0
 1               NaN  2024-0816319  316500  2  10  Grad        1
 2               NaN  2024-0816319  316500  2  10  Nm          0
 3               NaN  2024-0816319  316600  2  10  Grad        1
 4               NaN  2024-0816319  316600  2  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0836228  552400  2  10  Nm          4
 1048570         NaN  2024-0836228  552500  2  10  Grad        7
 1048571         NaN  2024-0836228  552500  2  10  Grad        5
 1048572         NaN  2024-0836228  552500  2  10  Grad        3
 1048573         NaN  2024-0836228  552500  2  10  Grad        1

         12.65                                              2024-02-16 17:55:10
 0        60.04                                         ... 2024-02-16 17:55:10
 1        180.72                                        ... 2024-02-16 18:03:58
 2        114.64                                        ... 2024-02-16 18:03:58
 3        180.75                                        ... 2024-02-16 18:04:10
 4        109.19                                        ... 2024-02-16 18:04:10
 ...                                                    ...                 ...
 1048569  40.54                                         ... 2024-02-21 06:38:42
 1048570  100.00                                        ... 2024-02-21 06:38:44
 1048571  121.00                                        ... 2024-02-21 06:38:44
 1048572  127.00                                        ... 2024-02-21 06:38:44
 1048573  137.00                                        ... 2024-02-21 06:38:44

 [1048574 rows x 9 columns],
 'Relatório 1(5)':          Unnamed: 0  2024-0836228  552500  2  10  Nm          0  \
 0               NaN  2024-0836228  552500  2  10  Nm          2
 1               NaN  2024-0836228  552500  2  10  Nm          6
 2               NaN  2024-0836228  552500  2  10  Nm          4
 3               NaN  2024-0836228  553700  2  10  Grad        1
 4               NaN  2024-0836228  553700  2  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0856392  562500  2  10  Nm          0
 1048570         NaN  2024-0856392  562600  2  10  Grad        1
 1048571         NaN  2024-0856392  562600  2  10  Nm          0
 1048572         NaN  2024-0856392  562700  2  10  Grad        1
 1048573         NaN  2024-0856392  562700  2  10  Nm          0

         40.18                                              2024-02-21 06:38:44
 0        40.36                                         ... 2024-02-21 06:38:44
 1        40.55                                         ... 2024-02-21 06:38:44
 2        40.68                                         ... 2024-02-21 06:38:44
 3        42.00                                         ... 2024-02-21 06:38:54
 4        9.08                                          ... 2024-02-21 06:38:54
 ...                                                    ...                 ...
 1048569  40.12                                         ... 2024-02-22 23:29:15
 1048570  55.00                                         ... 2024-02-22 22:48:58
 1048571  4.01                                          ... 2024-02-22 22:48:58
 1048572  28.00                                         ... 2024-02-22 22:45:49
 1048573  4.00                                          ... 2024-02-22 22:45:49

 [1048574 rows x 9 columns],
 'Relatório 1(6)':          Unnamed: 0  2024-0856392  563400  2  10  Grad          1  \
 0               NaN  2024-0856392  563400  2  10  Nm          0.0
 1               NaN  2024-0856392  563500  2  10  Grad        1.0
 2               NaN  2024-0856392  563500  2  10  Nm          0.0
 3               NaN  2024-0856392  563700  2  10  Grad        1.0
 4               NaN  2024-0856392  563700  2  10  Nm          0.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1246061  425300  2  10  Nm          4.0
 1048570         NaN  2024-1246061  425300  2  10  Nm          6.0
 1048571         NaN  2024-1246061  425300  2  10  Nm          2.0
 1048572         NaN  2024-1246061  425400  2  10  Grad        3.0
 1048573         NaN  2024-1246061  425400  2  10  Grad        1.0

         35.00                                              2024-02-22 23:29:02
 0        40.22                                         ... 2024-02-22 23:29:02
 1        32.00                                         ... 2024-02-23 08:33:54
 2        40.26                                         ... 2024-02-23 08:33:54
 3        37.00                                         ... 2024-02-23 06:40:58
 4        40.35                                         ... 2024-02-23 06:40:58
 ...                                                    ...                 ...
 1048569  7.53                                          ... 2024-03-20 22:34:40
 1048570  7.57                                          ... 2024-03-20 22:34:40
 1048571  7.58                                          ... 2024-03-20 22:34:40
 1048572  26.00                                         ... 2024-03-20 22:34:39
 1048573  37.00                                         ... 2024-03-20 22:34:39

 [1048574 rows x 9 columns],
 'Relatório 1(7)':          Unnamed: 0  2024-1246061  425400  2  10  Nm          2.1  \
 0               NaN  2024-1246061  425400  2  10  Nm          0.0
 1               NaN  2024-1246061  425500  2  10  Grad        3.0
 2               NaN  2024-1246061  425500  2  10  Grad        1.0
 3               NaN  2024-1246061  425500  2  10  Nm          0.0
 4               NaN  2024-1246061  425500  2  10  Nm          2.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1316112  381000  2  10         NaN  NaN
 1048570         NaN  2024-1316112  381100  2  10  Grad        1.0
 1048571         NaN  2024-1316112  381100  2  10  Nm          0.0
 1048572         NaN  2024-1316112  381100  2  10         NaN  NaN
 1048573         NaN  2024-1316112  381200  2  10  Grad        1.0

         7.52                                               2024-03-20 22:34:39
 0        7.55                                          ... 2024-03-20 22:34:39
 1        22.00                                         ... 2024-03-20 22:34:52
 2        35.00                                         ... 2024-03-20 22:34:52
 3        7.54                                          ... 2024-03-20 22:34:52
 4        7.59                                          ... 2024-03-20 22:34:52
 ...                                                    ...                 ...
 1048569                                                NaN 2024-03-22 15:46:07
 1048570  13.00                                         ... 2024-03-22 15:45:57
 1048571  55.21                                         ... 2024-03-22 15:45:57
 1048572                                                NaN 2024-03-22 15:45:57
 1048573  22.00                                         ... 2024-03-22 17:24:22

 [1048574 rows x 9 columns],
 'Relatório 1(8)':          Unnamed: 0  2024-1316112  381200  2  10  Nm            0  \
 0               NaN  2024-1316112  381200  2  10         NaN  NaN
 1               NaN  2024-1316112  381300  2  10  Grad        1.0
 2               NaN  2024-1316112  381300  2  10  Nm          0.0
 3               NaN  2024-1316112  381300  2  10         NaN  NaN
 4               NaN  2024-1316112  410700  2  10  Grad        3.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1336028  275900  2  10  Grad        1.0
 1048570         NaN  2024-1336028  275900  2  10  Nm          0.0
 1048571         NaN  2024-1336028  275900  2  10         NaN  NaN
 1048572         NaN  2024-1336028  276300  2  10  Grad        1.0
 1048573         NaN  2024-1336028  276300  2  10  Grad        3.0

         55.56                                              2024-03-22 17:24:22
 0                                                      NaN 2024-03-22 17:24:22
 1        24.00                                         ... 2024-03-22 17:24:17
 2        55.35                                         ... 2024-03-22 17:24:17
 3                                                      NaN 2024-03-22 17:24:17
 4        31.4                                          ... 2024-03-22 13:35:40
 ...                                                    ...                 ...
 1048569  219.7                                         ... 2024-03-26 12:37:06
 1048570  20.2                                          ... 2024-03-26 12:37:06
 1048571                                                NaN 2024-03-26 12:37:06
 1048572  11.00                                         ... 2024-03-26 10:23:37
 1048573  36.00                                         ... 2024-03-26 10:23:37

 [1048574 rows x 9 columns],
 'Relatório 1(9)':          Unnamed: 0  2024-1336028  276300  2  10  Nm          2.1  \
 0               NaN  2024-1336028  276300  2  10  Nm          0.0
 1               NaN  2024-1336028  276300  2  10         NaN  NaN
 2               NaN  2024-1336028  276400  2  10  Grad        1.0
 3               NaN  2024-1336028  276400  2  10  Nm          0.0
 4               NaN  2024-1336028  276400  2  10         NaN  NaN
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1346459  211700  2  10  Nm          0.0
 1048570         NaN  2024-1346459  211700  2  10         NaN  NaN
 1048571         NaN  2024-1346459  214500  2  10  Grad        1.0
 1048572         NaN  2024-1346459  214500  2  10  Grad        3.0
 1048573         NaN  2024-1346459  214500  2  10  Nm          0.0

         8.94                                               2024-03-26 10:23:37
 0        9.12                                          ... 2024-03-26 10:23:37
 1                                                      NaN 2024-03-26 10:23:37
 2        21.00                                         ... 2024-03-26 10:13:38
 3        9.16                                          ... 2024-03-26 10:13:38
 4                                                      NaN 2024-03-26 10:13:38
 ...                                                    ...                 ...
 1048569  20.02                                         ... 2024-03-27 16:13:46
 1048570                                                NaN 2024-03-27 16:13:46
 1048571  38.2                                          ... 2024-03-27 16:17:37
 1048572  48.4                                          ... 2024-03-27 16:17:37
 1048573  40.2                                          ... 2024-03-27 16:17:37

 [1048574 rows x 9 columns],
 'Relatório 1(10)':         Unnamed: 0  2024-1346459  214500  2  10  Nm          2.1  \
 0              NaN  2024-1346459  214500  2  10         NaN  NaN
 1              NaN  2024-1346459  214600  2  10  Grad        5.0
 2              NaN  2024-1346459  214600  2  10  Grad        7.0
 3              NaN  2024-1346459  214600  2  10  Grad        9.0
 4              NaN  2024-1346459  214600  2  10  Grad        3.0
 ...            ...           ...     ... ..  ..         ...  ...
 613354         NaN  2024-2016184  720100  2  10  Nm          2.0
 613355         NaN  2024-2016184  720200  2  10  Grad        1.0
 613356         NaN  2024-2016184  720200  2  10  Grad        3.0
 613357         NaN  2024-2016184  720200  2  10  Nm          0.0
 613358         NaN  2024-2016184  720200  2  10  Nm          2.0

        40.8                                               2024-03-27 16:17:37
 0                                                     NaN 2024-03-27 16:17:37
 1       26.00                                         ... 2024-03-27 16:11:46
 2       35.00                                         ... 2024-03-27 16:11:46
 3       37.00                                         ... 2024-03-27 16:11:46

In [12]:
planilhas = []
for planilha,df in Resultados2.items():
    planilhas.append(planilha)
    print(planilha)

Relatório 1
Relatório 1(1)
Relatório 1(2)
Relatório 1(3)
Relatório 1(4)
Relatório 1(5)
Relatório 1(6)
Relatório 1(7)
Relatório 1(8)
Relatório 1(9)
Relatório 1(10)

In [13]:
prime = Resultados2['Relatório 1']
prime.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,NaN,2023-5076008,SECTION_ZP8_00000001,718,13,V,80,12.479 ...,2024-02-02 08:03:03
2,NaN,2023-5076008,SECTION_ZP8_00000001,718,13,V,80,12.617 ...,2024-02-02 07:37:59
3,NaN,2023-5076008,SECTION_ZP8_00000001,718,10,V,80,12.951 ...,2024-02-02 08:32:14
4,NaN,2023-5076015,SECTION_ZP8_00000001,718,13,V,80,12.223 ...,2024-02-07 14:05:16

In [14]:
prime.drop(prime.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = prime.iloc[0]
# Pega todos os dados sem a primeira linha
prime = prime[1:]
#Atualiza as linhas
prime.columns = colunas
prime.head()

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80,12.479 ...,2024-02-02 08:03:03
2,2023-5076008,SECTION_ZP8_00000001,718,13,V,80,12.617 ...,2024-02-02 07:37:59
3,2023-5076008,SECTION_ZP8_00000001,718,10,V,80,12.951 ...,2024-02-02 08:32:14
4,2023-5076015,SECTION_ZP8_00000001,718,13,V,80,12.223 ...,2024-02-07 14:05:16
5,2023-5076015,SECTION_ZP8_00000001,718,10,V,80,12.855 ...,2024-02-07 14:31:41

In [15]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)']

In [16]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = Resultados2[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [17]:
uniao = prime
for atual_df in lista:
    uniao = pd.concat([uniao, dfs[atual_df]], ignore_index=True)

In [18]:
uniao.to_csv('../static/RESULTADOS_02_03_2024_juntados.csv')

In [3]:
Resultados4 = pd.read_excel("../static/RESULTADOS_04_06_2024.xlsx", sheet_name=None)

Resultados4

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

{'Relatório 1':          Unnamed: 0    Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0               NaN           KNR       NAME         ID     STATUS
 1               NaN  2023-2056234     012001          1         10
 2               NaN  2023-2056234     012002          1         10
 3               NaN  2023-2056234     012003          1         10
 4               NaN  2023-2056234     012004          1         10
 ...             ...           ...        ...        ...        ...
 1048569         NaN  2024-1446373     216100          2         10
 1048570         NaN  2024-1446373     216100          2         10
 1048571         NaN  2024-1446373     216100          2         10
 1048572         NaN  2024-1446373     216100          2         10
 1048573         NaN  2024-1446373     216200          2         10

          Unnamed: 5 Unnamed: 6  \
 0              UNIT   VALUE_ID
 1               NaN        NaN
 2               NaN        NaN
 3               NaN        NaN
 4               NaN        NaN
 ...             ...        ...
 1048569  Grad                1
 1048570  Nm                  0
 1048571  Nm                  2
 1048572         NaN        NaN
 1048573  Grad                3

                                                 Unnamed: 7  \
 0                                                    VALUE
 1                                                      NaN
 2                                                      NaN
 3                                                      NaN
 4                                                      NaN
 ...                                                    ...
 1048569  88.4                                          ...
 1048570  23.1                                          ...
 1048571  23.3                                          ...
 1048572                                                NaN
 1048573  36.7                                          ...

                   Unnamed: 8
 0                       DATA
 1        2024-05-16 13:41:25
 2        2024-05-16 14:12:35
 3        2024-05-16 14:12:27
 4        2024-05-16 14:11:07
 ...                      ...
 1048569  2024-04-08 10:47:39
 1048570  2024-04-08 10:47:39
 1048571  2024-04-08 10:47:39
 1048572  2024-04-08 10:47:39
 1048573  2024-04-08 10:47:52

 [1048574 rows x 9 columns],
 'Relatório 1(1)':          Unnamed: 0  2024-1446373  216200  2  10  Grad          1  \
 0               NaN  2024-1446373  216200  2  10  Grad        5.0
 1               NaN  2024-1446373  216200  2  10  Nm          2.0
 2               NaN  2024-1446373  216200  2  10  Nm          4.0
 3               NaN  2024-1446373  216200  2  10  Nm          0.0
 4               NaN  2024-1446373  216200  2  10         NaN  NaN
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1536292  421800  2  10  Nm          0.0
 1048570         NaN  2024-1536292  421800  2  10         NaN  NaN
 1048571         NaN  2024-1536292  421900  2  10  Grad        1.0
 1048572         NaN  2024-1536292  421900  2  10  Nm          0.0
 1048573         NaN  2024-1536292  421900  2  10         NaN  NaN

         40.1                                               2024-04-08 10:47:52
 0        53.9                                          ... 2024-04-08 10:47:52
 1        23.1                                          ... 2024-04-08 10:47:52
 2        23.1                                          ... 2024-04-08 10:47:52
 3        23.3                                          ... 2024-04-08 10:47:52
 4                                                      NaN 2024-04-08 10:47:52
 ...                                                    ...                 ...
 1048569  50.1                                          ... 2024-04-08 23:14:33
 1048570                                                NaN 2024-04-08 23:14:33
 1048571  20.3                                          ... 2024-04-08 23:14:21
 1048572  51.07                                         ... 2024-04-08 23:14:21
 1048573                                                NaN 2024-04-08 23:14:21

 [1048574 rows x 9 columns],
 'Relatório 1(2)':          Unnamed: 0  2024-1536292  422000  2  10  Grad          1  \
 0               NaN  2024-1536292  422000  2  10  Nm          0.0
 1               NaN  2024-1536292  422000  2  10         NaN  NaN
 2               NaN  2024-1536292  422100  2  10  Grad        1.0
 3               NaN  2024-1536292  422100  2  10  Nm          0.0
 4               NaN  2024-1536292  422100  2  10         NaN  NaN
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1556201  270500  2  10         NaN  NaN
 1048570         NaN  2024-1556201  272500  2  10  Grad        1.0
 1048571         NaN  2024-1556201  272500  2  10  Nm          0.0
 1048572         NaN  2024-1556201  272500  2  10         NaN  NaN
 1048573         NaN  2024-1556201  272700  2  10  Grad        1.0

         42.7                                               2024-04-08 23:14:44
 0        50.2                                          ... 2024-04-08 23:14:44
 1                                                      NaN 2024-04-08 23:14:44
 2        29.8                                          ... 2024-04-08 23:14:29
 3        50.34                                         ... 2024-04-08 23:14:29
 4                                                      NaN 2024-04-08 23:14:29
 ...                                                    ...                 ...
 1048569                                                NaN 2024-04-15 09:12:24
 1048570  192.00                                        ... 2024-04-15 12:02:59
 1048571  6.07                                          ... 2024-04-15 12:02:59
 1048572                                                NaN 2024-04-15 12:02:59
 1048573  99.00                                         ... 2024-04-15 12:02:52

 [1048574 rows x 9 columns],
 'Relatório 1(3)':          Unnamed: 0  2024-1556201  272700  2  10  Nm            0  \
 0               NaN  2024-1556201  272700  2  10         NaN  NaN
 1               NaN  2024-1556201  273300  2  10  Grad        1.0
 2               NaN  2024-1556201  273300  2  10  Nm          0.0
 3               NaN  2024-1556201  273300  2  10         NaN  NaN
 4               NaN  2024-1556201  273400  2  10  Grad        1.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1646163  560800  2  10         NaN  NaN
 1048570         NaN  2024-1646163  561500  2  10  Grad        1.0
 1048571         NaN  2024-1646163  561500  2  10  Nm          0.0
 1048572         NaN  2024-1646163  561500  2  10         NaN  NaN
 1048573         NaN  2024-1646163  561600  2  10  Grad        1.0

         6.11                                               2024-04-15 12:02:52
 0                                                      NaN 2024-04-15 12:02:52
 1        21.00                                         ... 2024-04-15 12:03:04
 2        6.25                                          ... 2024-04-15 12:03:04
 3                                                      NaN 2024-04-15 12:03:04
 4        22.00                                         ... 2024-04-15 11:45:41
 ...                                                    ...                 ...
 1048569                                                NaN 2024-04-15 13:23:56
 1048570  15.00                                         ... 2024-04-15 13:24:15
 1048571  40.29                                         ... 2024-04-15 13:24:15
 1048572                                                NaN 2024-04-15 13:24:15
 1048573  14.00                                         ... 2024-04-15 13:24:24

 [1048574 rows x 9 columns],
 'Relatório 1(4)':          Unnamed: 0  2024-1646163  561600  2  10  Nm            0  \
 0               NaN  2024-1646163  561600  2  10         NaN  NaN
 1               NaN  2024-1646163  562400  2  10  Grad        1.0
 2               NaN  2024-1646163  562400  2  10  Nm          0.0
 3               NaN  2024-1646163  562400  2  10         NaN  NaN
 4               NaN  2024-1646163  562500  2  10  Grad        1.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1716185  317700  2  10  Nm          0.0
 1048570         NaN  2024-1716185  318000  2  10  Grad        3.0
 1048571         NaN  2024-1716185  318000  2  10  Grad        1.0
 1048572         NaN  2024-1716185  318000  2  10  Nm          2.0
 1048573         NaN  2024-1716185  318000  2  10  Nm          0.0

         40.36                                              2024-04-15 13:24:24
 0                                                      NaN 2024-04-15 13:24:24
 1        26.00                                         ... 2024-04-15 13:23:56
 2        40.29                                         ... 2024-04-15 13:23:56
 3                                                      NaN 2024-04-15 13:23:56
 4        22.00                                         ... 2024-04-15 13:24:04
 ...                                                    ...                 ...
 1048569  12.25                                         ... 2024-04-18 12:22:26
 1048570  16.94                                         ... 2024-04-18 12:31:41
 1048571  17.24                                         ... 2024-04-18 12:31:41
 1048572  30.10                                         ... 2024-04-18 12:31:41
 1048573  30.26                                         ... 2024-04-18 12:31:41

 [1048574 rows x 9 columns],
 'Relatório 1(5)':          Unnamed: 0  2024-1716185  318100  2  10  Grad          3  \
 0               NaN  2024-1716185  318100  2  10  Grad        1.0
 1               NaN  2024-1716185  318100  2  10  Nm          2.0
 2               NaN  2024-1716185  318100  2  10  Nm          0.0
 3               NaN  2024-1716185  318900  2  10  Grad        1.0
 4               NaN  2024-1716185  318900  2  10  Grad        3.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1736367  422900  2  10  Grad        1.0
 1048570         NaN  2024-1736367  422900  2  10  Grad        3.0
 1048571         NaN  2024-1736367  422900  2  10  Nm          2.0
 1048572         NaN  2024-1736367  422900  2  10  Nm          0.0
 1048573         NaN  2024-1736367  423000  2  10  Grad        1.0

         24.12                                              2024-04-18 12:31:52
 0        25.66                                         ... 2024-04-18 12:31:52
 1        30.37                                         ... 2024-04-18 12:31:52
 2        30.52                                         ... 2024-04-18 12:31:52
 3        90.54                                         ... 2024-04-18 12:28:09
 4        90.54                                         ... 2024-04-18 12:28:09
 ...                                                    ...                 ...
 1048569  58.8                                          ... 2024-04-22 14:41:57
 1048570  90.3                                          ... 2024-04-22 14:41:57
 1048571  36.22                                         ... 2024-04-22 14:41:57
 1048572  50.3                                          ... 2024-04-22 14:41:57
 1048573  42.7                                          ... 2024-04-22 14:41:40

 [1048574 rows x 9 columns],
 'Relatório 1(6)':          Unnamed: 0  2024-1736367  423000  2  10  Nm            0  \
 0               NaN  2024-1736367  423100  2  10  Grad        1.0
 1               NaN  2024-1736367  423100  2  10  Grad        3.0
 2               NaN  2024-1736367  423100  2  10  Nm          2.0
 3               NaN  2024-1736367  423100  2  10  Nm          0.0
 4               NaN  2024-1736367  423200  2  10  Grad        1.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1816069  260200  2  10  Nm          0.0
 1048570         NaN  2024-1816069  260200  2  10  Nm          2.0
 1048571         NaN  2024-1816069  260500  2  10  Grad        1.0
 1048572         NaN  2024-1816069  260500  2  10  Grad        5.0
 1048573         NaN  2024-1816069  260500  2  10  Grad        7.0

         50.22                                              2024-04-22 14:41:40
 0        38.6                                          ... 2024-04-22 14:41:54
 1        90.3                                          ... 2024-04-22 14:41:54
 2        39.63                                         ... 2024-04-22 14:41:54
 3        50.21                                         ... 2024-04-22 14:41:54
 4        53.1                                          ... 2024-04-22 14:41:51
 ...                                                    ...                 ...
 1048569  14.21                                         ... 2024-04-25 17:30:36
 1048570  14.40                                         ... 2024-04-25 17:30:36
 1048571  52.00                                         ... 2024-04-25 17:31:00
 1048572  53.00                                         ... 2024-04-25 17:31:00
 1048573  58.00                                         ... 2024-04-25 17:31:00

 [1048574 rows x 9 columns],
 'Relatório 1(7)':          Unnamed: 0  2024-1816069  260500  2  10  Grad          3  \
 0               NaN  2024-1816069  260500  2  10  Nm          6.0
 1               NaN  2024-1816069  260500  2  10  Nm          0.0
 2               NaN  2024-1816069  260500  2  10  Nm          2.0
 3               NaN  2024-1816069  260500  2  10  Nm          4.0
 4               NaN  2024-1816069  260600  2  10  Grad        1.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1916198  340400  2  10  Grad        5.0
 1048570         NaN  2024-1916198  340400  2  10  Grad        7.0
 1048571         NaN  2024-1916198  340400  2  10  Nm          0.0
 1048572         NaN  2024-1916198  340400  2  10  Nm          2.0
 1048573         NaN  2024-1916198  340400  2  10  Nm          4.0

         62.00                                              2024-04-25 17:31:00
 0        14.03                                         ... 2024-04-25 17:31:00
 1        14.09                                         ... 2024-04-25 17:31:00
 2        14.19                                         ... 2024-04-25 17:31:00
 3        14.19                                         ... 2024-04-25 17:31:00
 4        39.00                                         ... 2024-04-25 15:18:56
 ...                                                    ...                 ...
 1048569  14.8                                          ... 2024-04-30 12:09:05
 1048570  14.9                                          ... 2024-04-30 12:09:05
 1048571  120                                           ... 2024-04-30 12:09:05
 1048572  120                                           ... 2024-04-30 12:09:05
 1048573  120                                           ... 2024-04-30 12:09:05

 [1048574 rows x 9 columns],
 'Relatório 1(8)':          Unnamed: 0  2024-1916198  340400  2  10  Nm            6  \
 0               NaN  2024-1916198  340400  2  10  Nm          8.0
 1               NaN  2024-1916198  360500  2  10  Grad        5.0
 2               NaN  2024-1916198  360500  2  10  Grad        1.0
 3               NaN  2024-1916198  360500  2  10  Grad        3.0
 4               NaN  2024-1916198  360500  2  10  Nm          0.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1936329  573000  2  10  Grad        3.0
 1048570         NaN  2024-1936329  573000  2  10  Nm          2.0
 1048571         NaN  2024-1936329  573000  2  10  Nm          0.0
 1048572         NaN  2024-1936329  580300  2  10  Grad        3.0
 1048573         NaN  2024-1936329  580300  2  10  Grad        5.0

         120                                                2024-04-30 12:09:05
 0        121                                           ... 2024-04-30 12:09:05
 1        125.00                                        ... 2024-04-30 08:14:19
 2        158.00                                        ... 2024-04-30 08:14:19
 3        96.00                                         ... 2024-04-30 08:14:19
 4        20.00                                         ... 2024-04-30 08:14:19
 ...                                                    ...                 ...
 1048569  50.00                                         ... 2024-05-06 22:28:12
 1048570  9.00                                          ... 2024-05-06 22:28:12
 1048571  9.12                                          ... 2024-05-06 22:28:12
 1048572  12.00                                         ... 2024-05-06 21:28:51
 1048573  19.00                                         ... 2024-05-06 21:28:51

 [1048574 rows x 9 columns],
 'Relatório 1(9)':          Unnamed: 0  2024-1936329  580300  2  10  Grad          1  \
 0               NaN  2024-1936329  580300  2  10  Nm          2.0
 1               NaN  2024-1936329  580300  2  10  Nm          4.0
 2               NaN  2024-1936329  580300  2  10  Nm          0.0
 3               NaN  2024-1936329  580500  2  10  Grad        1.0
 4               NaN  2024-1936329  580500  2  10  Nm          0.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-1956466  131000  2  10  Nm          6.0
 1048570         NaN  2024-1956466  131000  2  10  Nm          4.0
 1048571         NaN  2024-1956466  131100  2  10  Grad        1.0
 1048572         NaN  2024-1956466  131100  2  10  Grad        3.0
 1048573         NaN  2024-1956466  131100  2  10  Nm          0.0

         27.00                                              2024-05-06 21:28:51
 0        9.06                                          ... 2024-05-06 21:28:51
 1        9.11                                          ... 2024-05-06 21:28:51
 2        9.17                                          ... 2024-05-06 21:28:51
 3        31.00                                         ... 2024-05-06 22:56:23
 4        9.04                                          ... 2024-05-06 22:56:23
 ...                                                    ...                 ...
 1048569  8.01                                          ... 2024-05-15 06:54:47
 1048570  8.02                                          ... 2024-05-15 06:54:47
 1048571  38.00                                         ... 2024-05-15 06:55:31
 1048572  49.00                                         ... 2024-05-15 06:55:31
 1048573  12.04                                         ... 2024-05-15 06:55:31

 [1048574 rows x 9 columns],
 'Relatório 1(10)':          Unnamed: 0  2024-1956466  131100  2  10  Nm          2.1  \
 0               NaN  2024-1956466  131200  2  10  Grad        3.0
 1               NaN  2024-1956466  131200  2  10  Grad        1.0
 2               NaN  2024-1956466  131200  2  10  Nm          2.0
 3               NaN  2024-1956466  131200  2  10  Nm          0.0
 4               NaN  2024-1956466  131600  2  10  Grad        1.0
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2024-2036101  210600  2  10  Nm          2.0
 1048570         NaN  2024-2036101  210600  2  10  Nm          0.0
 1048571         NaN  2024-2036101  210700  2  10  Grad        1.0
 1048572         NaN  2024-2036101  210700  2  10  Grad        3.0
 1048573         NaN  2024-2036101  210700  2  10  Nm          2.0

         12.04                                              2024-05-15 06:55:31
 0        113.00                                        ... 2024-05-15 06:55:26
 1        85.00                                         ... 2024-05-15 06:55:26
 2        12.05                                         ... 2024-05-15 06:55:26
 3        12.06                                         ... 2024-05-15 06:55:26
 4        30.00                                         ... 2024-05-15 07:01:28

In [4]:
planilhas = []
for planilha,df in Resultados4.items():
    planilhas.append(planilha)
    print(planilha)

Relatório 1
Relatório 1(1)
Relatório 1(2)
Relatório 1(3)
Relatório 1(4)
Relatório 1(5)
Relatório 1(6)
Relatório 1(7)
Relatório 1(8)
Relatório 1(9)
Relatório 1(10)
Relatório 1(11)
Relatório 1(12)
Relatório 1(13)
Relatório 1(14)
Relatório 1(15)
Relatório 1(16)
Relatório 1(17)
Relatório 1(18)
Relatório 1(19)
Relatório 1(20)

In [5]:
prime = Resultados4['Relatório 1']
prime.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,NaN,2023-2056234,012001,1,10,NaN,NaN,NaN,2024-05-16 13:41:25
2,NaN,2023-2056234,012002,1,10,NaN,NaN,NaN,2024-05-16 14:12:35
3,NaN,2023-2056234,012003,1,10,NaN,NaN,NaN,2024-05-16 14:12:27
4,NaN,2023-2056234,012004,1,10,NaN,NaN,NaN,2024-05-16 14:11:07

In [6]:
prime.drop(prime.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = prime.iloc[0]
# Pega todos os dados sem a primeira linha
prime = prime[1:]
#Atualiza as linhas
prime.columns = colunas
prime.head()

0           KNR    NAME ID STATUS UNIT VALUE_ID VALUE                 DATA
1  2023-2056234  012001  1     10  NaN      NaN   NaN  2024-05-16 13:41:25
2  2023-2056234  012002  1     10  NaN      NaN   NaN  2024-05-16 14:12:35
3  2023-2056234  012003  1     10  NaN      NaN   NaN  2024-05-16 14:12:27
4  2023-2056234  012004  1     10  NaN      NaN   NaN  2024-05-16 14:11:07
5  2023-2056234  012008  1     10  NaN      NaN   NaN  2024-05-16 14:13:07

In [7]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)',
'Relatório 1(11)',
'Relatório 1(12)',
'Relatório 1(13)',
'Relatório 1(14)',
'Relatório 1(15)',
'Relatório 1(16)',
'Relatório 1(17)',
'Relatório 1(18)',
'Relatório 1(19)',
'Relatório 1(20)']

In [8]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = Resultados4[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [9]:
uniao = prime
for atual_df in lista:
    uniao = pd.concat([uniao, dfs[atual_df]], ignore_index=True)

In [10]:
uniao.to_csv('../static/RESULTADOS_04_06_2024_juntados.csv')

In [129]:
Resultados6 = pd.read_excel("../static/RESULTADOS_06_2023_07_2023.xlsx", sheet_name=None)

Resultados6

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

{'Relatório 1':          Unnamed: 0    Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0               NaN           KNR       NAME         ID     STATUS
 1               NaN  2023-2016173     272500          2         10
 2               NaN  2023-2016173     272500          2         10
 3               NaN  2023-2016173     272500          2         10
 4               NaN  2023-2016173     272500          2         10
 ...             ...           ...        ...        ...        ...
 1048569         NaN  2023-2636076     760300          2         10
 1048570         NaN  2023-2636076     760400          2         10
 1048571         NaN  2023-2636076     760400          2         10
 1048572         NaN  2023-2636076     760500          2         10
 1048573         NaN  2023-2636076     760500          2         10

          Unnamed: 5 Unnamed: 6  \
 0              UNIT   VALUE_ID
 1        Grad                1
 2        Grad                3
 3        Nm                  0
 4        Nm                  2
 ...             ...        ...
 1048569  Nm                  0
 1048570  Grad                1
 1048571  Nm                  0
 1048572  Grad                1
 1048573  Nm                  0

                                                 Unnamed: 7  \
 0                                                    VALUE
 1        1.00                                          ...
 2        253.00                                        ...
 3        2.05                                          ...
 4        6.00                                          ...
 ...                                                    ...
 1048569  14.22                                         ...
 1048570  90.00                                         ...
 1048571  14.23                                         ...
 1048572  87.00                                         ...
 1048573  14.19                                         ...

                   Unnamed: 8
 0                       DATA
 1        2023-06-06 07:07:30
 2        2023-06-06 07:07:30
 3        2023-06-06 07:07:30
 4        2023-06-06 07:07:30
 ...                      ...
 1048569  2023-06-23 13:42:07
 1048570  2023-06-23 13:42:15
 1048571  2023-06-23 13:42:15
 1048572  2023-07-05 06:49:44
 1048573  2023-07-05 06:49:44

 [1048574 rows x 9 columns],
 'Relatório 1(1)':          Unnamed: 0  2023-2636076  760600  2  10  Grad        1  \
 0               NaN  2023-2636076  760600  2  10  Nm          0
 1               NaN  2023-2636076  772300  2  10  Grad        1
 2               NaN  2023-2636076  772300  2  10  Nm          0
 3               NaN  2023-2636076  772400  2  13  Grad        1
 4               NaN  2023-2636076  772400  2  10  Grad        1
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-2736180  140100  2  10  Nm          0
 1048570         NaN  2023-2736180  140700  2  10  Grad        3
 1048571         NaN  2023-2736180  140700  2  10  Grad        1
 1048572         NaN  2023-2736180  140700  2  10  Nm          2
 1048573         NaN  2023-2736180  140700  2  10  Nm          0

         115.00                                             2023-07-05 06:49:45
 0        14.20                                         ... 2023-07-05 06:49:45
 1        34.00                                         ... 2023-07-05 06:04:10
 2        9.03                                          ... 2023-07-05 06:04:10
 3                                                      ... 2023-07-05 06:04:51
 4        16.00                                         ... 2023-07-05 06:45:32
 ...                                                    ...                 ...
 1048569  22.08                                         ... 2023-07-19 09:17:16
 1048570  27.00                                         ... 2023-07-19 09:39:03
 1048571  33.00                                         ... 2023-07-19 09:39:03
 1048572  8.00                                          ... 2023-07-19 09:39:03
 1048573  8.09                                          ... 2023-07-19 09:39:03

 [1048574 rows x 9 columns],
 'Relatório 1(2)':          Unnamed: 0  2023-2736180                160100    2  10  Grad        \
 0               NaN  2023-2736180                160100    2  10  Nm
 1               NaN  2023-2736180                160200    2  10  Grad
 2               NaN  2023-2736180                160200    2  10  Nm
 3               NaN  2023-2736180                160800    2  10  Grad
 4               NaN  2023-2736180                160800    2  10  Nm
 ...             ...           ...                   ...  ...  ..         ...
 1048569         NaN  2023-2826140  SECTION_ROL_00000008  718  10         NaN
 1048570         NaN  2023-2826140  SECTION_ROL_00000009  718  10         NaN
 1048571         NaN  2023-2826140  SECTION_ZP8_00000001  718  10  V
 1048572         NaN  2023-2826140  SECTION_ZP8_00000003  718  10         NaN
 1048573         NaN  2023-2826141                012001    1  10         NaN

           1 85.00                                               \
 0         0  14.04                                         ...
 1         1  107.00                                        ...
 2         0  14.20                                         ...
 3         1  50.00                                         ...
 4         0  35.18                                         ...
 ...      ..                                                ...
 1048569   0                                                NaN
 1048570   0                                                NaN
 1048571  80  12.7                                          ...
 1048572   0                                                NaN
 1048573   0                                                NaN

         2023-07-19 09:11:40
 0       2023-07-19 09:11:40
 1       2023-07-19 09:11:46
 2       2023-07-19 09:11:46
 3       2023-07-19 08:49:09
 4       2023-07-19 08:49:09
 ...                     ...
 1048569 2023-07-25 13:15:08
 1048570 2023-07-25 13:08:06
 1048571 2023-07-25 14:18:40
 1048572 2023-07-25 12:20:17
 1048573 2023-07-26 08:10:16

 [1048574 rows x 9 columns],
 'Relatório 1(3)':          Unnamed: 0  2023-2826141  012002  1  10  Unnamed: 5  0  \
 0               NaN  2023-2826141  012003  1  10         NaN  0
 1               NaN  2023-2826141  012004  1  10         NaN  0
 2               NaN  2023-2826141  018001  1  10         NaN  0
 3               NaN  2023-2826141  042000  1  10  Grad        1
 4               NaN  2023-2826141  042000  1  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-2916048  310900  2  10  Nm          0
 1048570         NaN  2023-2916048  310900  2  10  Nm          2
 1048571         NaN  2023-2916048  311000  2  10  Grad        3
 1048572         NaN  2023-2916048  311000  2  10  Grad        1
 1048573         NaN  2023-2916048  311000  2  10  Nm          2

                                                 Unnamed: 7 2023-07-26 08:25:24
 0                                                      NaN 2023-07-26 08:25:33
 1                                                      NaN 2023-07-26 08:24:31
 2                                                      NaN 2023-07-26 08:03:46
 3        3999.00                                       ... 2023-07-26 08:28:22
 4        0.76                                          ... 2023-07-26 08:28:22
 ...                                                    ...                 ...
 1048569  115.88                                        ... 2023-07-31 08:11:07
 1048570  140.62                                        ... 2023-07-31 08:11:07
 1048571  90.05                                         ... 2023-07-31 08:11:07
 1048572  90.10                                         ... 2023-07-31 08:11:07
 1048573  121.79                                        ... 2023-07-31 08:11:07

 [1048574 rows x 9 columns],
 'Relatório 1(4)':          Unnamed: 0  2023-2916048  311000  2  10  Nm          0  \
 0               NaN  2023-2916048  311100  2  10  Grad        3
 1               NaN  2023-2916048  311100  2  10  Grad        1
 2               NaN  2023-2916048  311100  2  10  Nm          0
 3               NaN  2023-2916048  311100  2  10  Nm          2
 4               NaN  2023-2916048  311200  2  10  Grad        1
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-2946275  192700  2  10  Nm          2
 1048570         NaN  2023-2946275  193000  2  10  Grad        3
 1048571         NaN  2023-2946275  193000  2  10  Grad        1
 1048572         NaN  2023-2946275  193000  2  10  Nm          0
 1048573         NaN  2023-2946275  193000  2  10  Nm          2

         97.82                                              2023-07-31 08:11:07
 0        180.01                                        ... 2023-07-31 08:12:18
 1        180.03                                        ... 2023-07-31 08:12:18
 2        105.40                                        ... 2023-07-31 08:12:18
 3        140.86                                        ... 2023-07-31 08:12:18
 4        180.02                                        ... 2023-07-31 08:12:18
 ...                                                    ...                 ...
 1048569  20.11                                         ... 2023-08-01 09:55:36
 1048570  11.6                                          ... 2023-08-01 09:55:42
 1048571  14.9                                          ... 2023-08-01 09:55:42
 1048572  20.07                                         ... 2023-08-01 09:55:42
 1048573  20.21                                         ... 2023-08-01 09:55:42

 [1048574 rows x 9 columns],
 'Relatório 1(5)':          Unnamed: 0  2023-2946275  193100  2  10  Grad        1  \
 0               NaN  2023-2946275  193100  2  10  Grad        3
 1               NaN  2023-2946275  193100  2  10  Nm          2
 2               NaN  2023-2946275  193100  2  10  Nm          0
 3               NaN  2023-2946275  210100  2  10  Grad        1
 4               NaN  2023-2946275  210100  2  10  Grad        3
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-3036195  340200  2  10  Grad        5
 1048570         NaN  2023-3036195  340200  2  10  Grad        3
 1048571         NaN  2023-3036195  340200  2  10  Grad        9
 1048572         NaN  2023-3036195  340200  2  10  Grad        1
 1048573         NaN  2023-3036195  340200  2  10  Grad        7

         18.3                                               2023-08-01 09:55:31
 0        21.7                                          ... 2023-08-01 09:55:31
 1        20.03                                         ... 2023-08-01 09:55:31
 2        20.09                                         ... 2023-08-01 09:55:31
 3        90.02                                         ... 2023-08-03 13:42:12
 4        90.02                                         ... 2023-08-03 13:42:12
 ...                                                    ...                 ...
 1048569  13.8                                          ... 2023-08-09 07:45:16
 1048570  15.5                                          ... 2023-08-09 07:45:16
 1048571  16.2                                          ... 2023-08-09 07:45:16
 1048572  16.7                                          ... 2023-08-09 07:45:16
 1048573  19.7                                          ... 2023-08-09 07:45:16

 [1048574 rows x 9 columns],
 'Relatório 1(6)':          Unnamed: 0  2023-3036195  340200  2  10  Nm          0  \
 0               NaN  2023-3036195  340200  2  10  Nm          4
 1               NaN  2023-3036195  340200  2  10  Nm          6
 2               NaN  2023-3036195  340200  2  10  Nm          8
 3               NaN  2023-3036195  340200  2  10  Nm          2
 4               NaN  2023-3036195  340300  2  10  Grad        5
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-3126102  426400  2  10  Nm          2
 1048570         NaN  2023-3126102  426400  2  10  Nm          0
 1048571         NaN  2023-3126102  426500  2  10  Grad        1
 1048572         NaN  2023-3126102  426500  2  10  Grad        3
 1048573         NaN  2023-3126102  426500  2  10  Grad        5

         120                                                2023-08-09 07:45:16
 0        120                                           ... 2023-08-09 07:45:16
 1        120                                           ... 2023-08-09 07:45:16
 2        120                                           ... 2023-08-09 07:45:16
 3        122                                           ... 2023-08-09 07:45:16
 4        15.5                                          ... 2023-08-09 07:45:37
 ...                                                    ...                 ...
 1048569  25.15                                         ... 2023-08-14 13:13:03
 1048570  25.18                                         ... 2023-08-14 13:13:03
 1048571  11.00                                         ... 2023-08-14 13:11:52
 1048572  23.00                                         ... 2023-08-14 13:11:52
 1048573  35.00                                         ... 2023-08-14 13:11:52

 [1048574 rows x 9 columns],
 'Relatório 1(7)':          Unnamed: 0  2023-3126102  426500  2  10  Nm          0  \
 0               NaN  2023-3126102  426500  2  10  Nm          4
 1               NaN  2023-3126102  426500  2  10  Nm          2
 2               NaN  2023-3126102  426800  2  10  Grad        1
 3               NaN  2023-3126102  426800  2  10  Grad        3
 4               NaN  2023-3126102  426800  2  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-3216030  313700  2  10  Grad        1
 1048570         NaN  2023-3216030  313700  2  10  Nm          0
 1048571         NaN  2023-3216030  314100  2  10  Grad        3
 1048572         NaN  2023-3216030  314100  2  10  Grad        1
 1048573         NaN  2023-3216030  314100  2  10  Nm          2

         25.03                                              2023-08-14 13:11:52
 0        25.05                                         ... 2023-08-14 13:11:52
 1        25.14                                         ... 2023-08-14 13:11:52
 2        58.00                                         ... 2023-08-14 13:13:10
 3        77.00                                         ... 2023-08-14 13:13:10
 4        25.14                                         ... 2023-08-14 13:13:10
 ...                                                    ...                 ...
 1048569  1.2                                           ... 2023-08-21 07:40:23
 1048570  34.17                                         ... 2023-08-21 07:40:23
 1048571  180.25                                        ... 2023-08-21 06:48:25
 1048572  180.57                                        ... 2023-08-21 06:48:25
 1048573  153.28                                        ... 2023-08-21 06:48:25

 [1048574 rows x 9 columns],
 'Relatório 1(8)':          Unnamed: 0  2023-3216030  314100  2  10  Nm           0  \
 0               NaN  2023-3216030  314200  2  10  Grad         3
 1               NaN  2023-3216030  314200  2  10  Grad         1
 2               NaN  2023-3216030  314200  2  10  Nm           2
 3               NaN  2023-3216030  314200  2  10  Nm           0
 4               NaN  2023-3216030  314400  2  10  Grad         1
 ...             ...           ...     ... ..  ..         ...  ..
 1048569         NaN  2023-3416093  214600  2  10  Grad        11
 1048570         NaN  2023-3416093  214600  2  10  Grad         9
 1048571         NaN  2023-3416093  214600  2  10  Grad         3
 1048572         NaN  2023-3416093  214600  2  10  Nm           4
 1048573         NaN  2023-3416093  214600  2  10  Nm           0

         159.17                                             2023-08-21 06:48:25
 0        180.27                                        ... 2023-08-21 06:48:38
 1        180.54                                        ... 2023-08-21 06:48:38
 2        145.33                                        ... 2023-08-21 06:48:38
 3        184.98                                        ... 2023-08-21 06:48:38
 4        180.65                                        ... 2023-08-21 06:48:15
 ...                                                    ...                 ...
 1048569  50.00                                         ... 2023-08-23 08:48:05
 1048570  52.00                                         ... 2023-08-23 08:48:05
 1048571  53.00                                         ... 2023-08-23 08:48:05
 1048572  80.19                                         ... 2023-08-23 08:48:05
 1048573  80.30                                         ... 2023-08-23 08:48:05

 [1048574 rows x 9 columns],
 'Relatório 1(9)':          Unnamed: 0  2023-3416093  214600  2  10  Nm          2.1  \
 0               NaN  2023-3416093  214600  2  10  Nm           10
 1               NaN  2023-3416093  214600  2  10  Nm            6
 2               NaN  2023-3416093  214600  2  10  Nm            8
 3               NaN  2023-3416093  214900  2  10  Grad          9
 4               NaN  2023-3416093  214900  2  10  Grad          5
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2023-3536175  130100  2  10  Grad          1
 1048570         NaN  2023-3536175  130100  2  10  Nm            2
 1048571         NaN  2023-3536175  130100  2  10  Nm            4
 1048572         NaN  2023-3536175  130100  2  10  Nm            0
 1048573         NaN  2023-3536175  130200  2  10  Grad          1

         80.37                                              2023-08-23 08:48:05
 0        80.44                                         ... 2023-08-23 08:48:05
 1        80.60                                         ... 2023-08-23 08:48:05
 2        81.31                                         ... 2023-08-23 08:48:05
 3        24.00                                         ... 2023-08-23 09:08:34
 4        25.00                                         ... 2023-08-23 09:08:34
 ...                                                    ...                 ...
 1048569  51.4                                          ... 2023-08-29 10:28:37
 1048570  30.1                                          ... 2023-08-29 10:28:37
 1048571  30.4                                          ... 2023-08-29 10:28:37
 1048572  30.5                                          ... 2023-08-29 10:28:37
 1048573  44.00                                         ... 2023-08-29 10:28:48

 [1048574 rows x 9 columns],
 'Relatório 1(10)':         Unnamed: 0  2023-3536175  130200  2  10  Grad        5  \
 0              NaN  2023-3536175  130200  2  10  Grad        3
 1              NaN  2023-3536175  130200  2  10  Nm          4
 2              NaN  2023-3536175  130200  2  10  Nm          2
 3              NaN  2023-3536175  130200  2  10  Nm          0
 4              NaN  2023-3536175  130300  2  10  Grad        1
 ...            ...           ...     ... ..  ..         ... ..
 596046         NaN  2023-4816202  720100  2  10  Nm          2
 596047         NaN  2023-4816202  720200  2  10  Grad        3
 596048         NaN  2023-4816202  720200  2  10  Grad        1
 596049         NaN  2023-4816202  720200  2  10  Nm          2
 596050         NaN  2023-4816202  720200  2  10  Nm          0

        47.00                                              2023-08-29 10:28:48
 0       70.00                                         ... 2023-08-29 10:28:48
 1       30.15                                         ... 2023-08-29 10:28:48
 2       30.23                                         ... 2023-08-29 10:28:48
 3       30.31                                         ... 2023-08-29 10:28:48

In [131]:
planilhas = []
for planilha,df in Resultados6.items():
    planilhas.append(planilha)
    print(planilha)

Relatório 1
Relatório 1(1)
Relatório 1(2)
Relatório 1(3)
Relatório 1(4)
Relatório 1(5)
Relatório 1(6)
Relatório 1(7)
Relatório 1(8)
Relatório 1(9)
Relatório 1(10)

In [132]:
prime = Resultados6['Relatório 1']
prime.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,NaN,2023-2016173,272500,2,10,Grad,1,1.00 ...,2023-06-06 07:07:30
2,NaN,2023-2016173,272500,2,10,Grad,3,253.00 ...,2023-06-06 07:07:30
3,NaN,2023-2016173,272500,2,10,Nm,0,2.05 ...,2023-06-06 07:07:30
4,NaN,2023-2016173,272500,2,10,Nm,2,6.00 ...,2023-06-06 07:07:30

In [133]:
prime.drop(prime.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = prime.iloc[0]
# Pega todos os dados sem a primeira linha
prime = prime[1:]
#Atualiza as linhas
prime.columns = colunas
prime.head()

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,2023-2016173,272500,2,10,Grad,1,1.00 ...,2023-06-06 07:07:30
2,2023-2016173,272500,2,10,Grad,3,253.00 ...,2023-06-06 07:07:30
3,2023-2016173,272500,2,10,Nm,0,2.05 ...,2023-06-06 07:07:30
4,2023-2016173,272500,2,10,Nm,2,6.00 ...,2023-06-06 07:07:30
5,2023-2016173,580300,2,10,Grad,3,13.00 ...,2023-06-06 07:07:10

In [134]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)',]

In [135]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = Resultados6[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [136]:
uniao = prime
for atual_df in lista:
    uniao = pd.concat([uniao, dfs[atual_df]], ignore_index=True)

In [137]:
uniao.to_csv('../static/RESULTADOS_06_2023_07_2023_juntados.csv')

In [121]:
Resultados10 = pd.read_excel("../static/RESULTADOS_10_2023_11_2023.xlsx", sheet_name=None)

Resultados10

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

{'Relatório 1':          Unnamed: 0    Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0               NaN           KNR       NAME         ID     STATUS
 1               NaN  2023-2316417     012001          1         10
 2               NaN  2023-2316417     012002          1         10
 3               NaN  2023-2316417     012003          1         10
 4               NaN  2023-2316417     012004          1         10
 ...             ...           ...        ...        ...        ...
 1048569         NaN  2023-4036280     552400          2         10
 1048570         NaN  2023-4036280     552500          2         10
 1048571         NaN  2023-4036280     552500          2         10
 1048572         NaN  2023-4036280     552500          2         10
 1048573         NaN  2023-4036280     552500          2         10

          Unnamed: 5 Unnamed: 6  \
 0              UNIT   VALUE_ID
 1               NaN          0
 2               NaN          0
 3               NaN          0
 4               NaN          0
 ...             ...        ...
 1048569  Nm                  0
 1048570  Grad                3
 1048571  Grad                5
 1048572  Grad                1
 1048573  Grad                7

                                                 Unnamed: 7  \
 0                                                    VALUE
 1                                                      NaN
 2                                                      NaN
 3                                                      NaN
 4                                                      NaN
 ...                                                    ...
 1048569  40.74                                         ...
 1048570  109.00                                        ...
 1048571  111.00                                        ...
 1048572  114.00                                        ...
 1048573  97.00                                         ...

                   Unnamed: 8
 0                       DATA
 1        2023-11-07 13:05:08
 2        2023-11-07 13:23:11
 3        2023-11-07 13:23:18
 4        2023-11-07 13:22:00
 ...                      ...
 1048569  2023-10-05 13:03:05
 1048570  2023-10-05 13:03:05
 1048571  2023-10-05 13:03:05
 1048572  2023-10-05 13:03:05
 1048573  2023-10-05 13:03:05

 [1048574 rows x 9 columns],
 'Relatório 1(1)':          Unnamed: 0  2023-4036280  552500  2  10  Nm          4  \
 0               NaN  2023-4036280  552500  2  10  Nm          0
 1               NaN  2023-4036280  552500  2  10  Nm          6
 2               NaN  2023-4036280  552500  2  10  Nm          2
 3               NaN  2023-4036280  553700  2  10  Grad        1
 4               NaN  2023-4036280  553700  2  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4126050  210700  2  10  Grad        3
 1048570         NaN  2023-4126050  210700  2  10  Nm          2
 1048571         NaN  2023-4126050  210700  2  10  Nm          0
 1048572         NaN  2023-4126050  210800  2  10  Grad        3
 1048573         NaN  2023-4126050  210800  2  10  Grad        1

         40.01                                              2023-10-05 13:03:05
 0        40.08                                         ... 2023-10-05 13:03:05
 1        40.19                                         ... 2023-10-05 13:03:05
 2        40.40                                         ... 2023-10-05 13:03:05
 3        23.00                                         ... 2023-10-05 13:03:19
 4        9.07                                          ... 2023-10-05 13:03:19
 ...                                                    ...                 ...
 1048569  23                                            ... 2023-10-11 12:29:37
 1048570  67.24                                         ... 2023-10-11 12:29:37
 1048571  68.73                                         ... 2023-10-11 12:29:37
 1048572  90.05                                         ... 2023-10-11 08:58:57
 1048573  90.06                                         ... 2023-10-11 08:58:57

 [1048574 rows x 9 columns],
 'Relatório 1(2)':          Unnamed: 0  2023-4126050  210800  2  10  Nm          2.1  \
 0               NaN  2023-4126050  210800  2  10  Nm            0
 1               NaN  2023-4126050  211100  2  10         NaN    0
 2               NaN  2023-4126050  211300  2  10  Grad          3
 3               NaN  2023-4126050  211300  2  10  Grad          1
 4               NaN  2023-4126050  211300  2  10  Nm            2
 ...             ...           ...     ... ..  ..         ...  ...
 1048569         NaN  2023-4236106  316700  2  10  Grad          1
 1048570         NaN  2023-4236106  316700  2  10  Nm            0
 1048571         NaN  2023-4236106  316800  2  10  Grad          1
 1048572         NaN  2023-4236106  316800  2  10  Nm            0
 1048573         NaN  2023-4236106  317000  2  10  Grad          1

         116.74                                             2023-10-11 08:58:57
 0        122.38                                        ... 2023-10-11 08:58:57
 1                                                      NaN 2023-10-11 08:59:30
 2        90.04                                         ... 2023-10-11 08:59:22
 3        90.09                                         ... 2023-10-11 08:59:22
 4        108.38                                        ... 2023-10-11 08:59:22
 ...                                                    ...                 ...
 1048569  23.00                                         ... 2023-10-18 13:30:21
 1048570  8.09                                          ... 2023-10-18 13:30:21
 1048571  19.00                                         ... 2023-10-18 13:30:30
 1048572  8.07                                          ... 2023-10-18 13:30:30
 1048573  33.00                                         ... 2023-10-18 13:42:00

 [1048574 rows x 9 columns],
 'Relatório 1(3)':          Unnamed: 0  2023-4236106  317000  2  10  Nm          0  \
 0               NaN  2023-4236106  317100  2  10  Grad        1
 1               NaN  2023-4236106  317100  2  10  Nm          0
 2               NaN  2023-4236106  317200  2  10  Grad        1
 3               NaN  2023-4236106  317200  2  10  Nm          0
 4               NaN  2023-4236106  317300  2  10  Grad        1
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4326033  140700  2  10  Nm          0
 1048570         NaN  2023-4326033  160100  2  10  Grad        1
 1048571         NaN  2023-4326033  160100  2  10  Nm          0
 1048572         NaN  2023-4326033  160200  2  10  Grad        1
 1048573         NaN  2023-4326033  160200  2  10  Nm          0

         20.12                                              2023-10-18 13:42:00
 0        29.00                                         ... 2023-10-18 13:42:14
 1        20.20                                         ... 2023-10-18 13:42:14
 2        90.30                                         ... 2023-10-18 13:49:42
 3        74.25                                         ... 2023-10-18 13:49:42
 4        90.32                                         ... 2023-10-18 13:49:51
 ...                                                    ...                 ...
 1048569  8.18                                          ... 2023-10-24 14:57:49
 1048570  141.00                                        ... 2023-10-24 14:37:28
 1048571  14.03                                         ... 2023-10-24 14:37:28
 1048572  89.00                                         ... 2023-10-24 14:31:42
 1048573  14.02                                         ... 2023-10-24 14:31:42

 [1048574 rows x 9 columns],
 'Relatório 1(4)':          Unnamed: 0  2023-4326033  160800  2  10  Grad        1  \
 0               NaN  2023-4326033  160800  2  10  Nm          0
 1               NaN  2023-4326033  160900  2  10  Grad        1
 2               NaN  2023-4326033  160900  2  10  Nm          0
 3               NaN  2023-4326033  190100  2  10  Grad        1
 4               NaN  2023-4326033  190100  2  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4356269  330200  2  10  Nm          2
 1048570         NaN  2023-4356269  330200  2  10  Nm          0
 1048571         NaN  2023-4356269  330200  2  10  Nm          4
 1048572         NaN  2023-4356269  330200  2  10  Nm          6
 1048573         NaN  2023-4356269  340100  2  10  Grad        5

         45.00                                              2023-10-24 12:26:21
 0        35.27                                         ... 2023-10-24 12:26:21
 1        44.00                                         ... 2023-10-24 12:26:27
 2        35.25                                         ... 2023-10-24 12:26:27
 3        112.2                                         ... 2023-10-24 14:51:20
 4        20.7                                          ... 2023-10-24 14:51:20
 ...                                                    ...                 ...
 1048569  79.17                                         ... 2023-10-30 23:04:57
 1048570  80.34                                         ... 2023-10-30 23:04:57
 1048571  82.40                                         ... 2023-10-30 23:04:57
 1048572  89.12                                         ... 2023-10-30 23:04:57
 1048573  13.5                                          ... 2023-10-31 07:16:18

 [1048574 rows x 9 columns],
 'Relatório 1(5)':          Unnamed: 0  2023-4356269  340100  2  10  Grad        3  \
 0               NaN  2023-4356269  340100  2  10  Grad        1
 1               NaN  2023-4356269  340100  2  10  Grad        7
 2               NaN  2023-4356269  340100  2  10  Grad        9
 3               NaN  2023-4356269  340100  2  10  Nm          0
 4               NaN  2023-4356269  340100  2  10  Nm          4
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4436337  210800  2  10  Grad        3
 1048570         NaN  2023-4436337  210800  2  10  Nm          2
 1048571         NaN  2023-4436337  210800  2  10  Nm          0
 1048572         NaN  2023-4436337  211100  2  10         NaN  0
 1048573         NaN  2023-4436337  211300  2  10  Grad        3

         14.0                                               2023-10-31 07:16:18
 0        14.5                                          ... 2023-10-31 07:16:18
 1        15.0                                          ... 2023-10-31 07:16:18
 2        15.6                                          ... 2023-10-31 07:16:18
 3        120                                           ... 2023-10-31 07:16:18
 4        120                                           ... 2023-10-31 07:16:18
 ...                                                    ...                 ...
 1048569  90.03                                         ... 2023-11-01 18:55:54
 1048570  125.95                                        ... 2023-11-01 18:55:54
 1048571  134.00                                        ... 2023-11-01 18:55:54
 1048572                                                NaN 2023-11-01 18:56:32
 1048573  90.01                                         ... 2023-11-01 18:56:21

 [1048574 rows x 9 columns],
 'Relatório 1(6)':          Unnamed: 0  2023-4436337  211300  2  10  Grad        1  \
 0               NaN  2023-4436337  211300  2  10  Nm          2
 1               NaN  2023-4436337  211300  2  10  Nm          0
 2               NaN  2023-4436337  211700  2  10  Grad        1
 3               NaN  2023-4436337  211700  2  10  Nm          0
 4               NaN  2023-4436337  213200  2  10  Grad        3
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4536108  340200  2  10  Nm          6
 1048570         NaN  2023-4536108  340200  2  10  Nm          8
 1048571         NaN  2023-4536108  340300  2  10  Grad        9
 1048572         NaN  2023-4536108  340300  2  10  Grad        7
 1048573         NaN  2023-4536108  340300  2  10  Grad        5

         90.05                                              2023-11-01 18:56:21
 0        104.48                                        ... 2023-11-01 18:56:21
 1        91.20                                         ... 2023-11-01 18:56:21
 2        26.00                                         ... 2023-11-01 17:52:40
 3        20.09                                         ... 2023-11-01 17:52:40
 4        15.2                                          ... 2023-11-01 18:22:58
 ...                                                    ...                 ...
 1048569  121                                           ... 2023-11-08 12:31:44
 1048570  122                                           ... 2023-11-08 12:31:44
 1048571  11.1                                          ... 2023-11-08 12:32:14
 1048572  13.5                                          ... 2023-11-08 12:32:14
 1048573  13.7                                          ... 2023-11-08 12:32:14

 [1048574 rows x 9 columns],
 'Relatório 1(7)':          Unnamed: 0  2023-4536108  340300  2  10  Grad        3  \
 0               NaN  2023-4536108  340300  2  10  Grad        1
 1               NaN  2023-4536108  340300  2  10  Nm          0
 2               NaN  2023-4536108  340300  2  10  Nm          4
 3               NaN  2023-4536108  340300  2  10  Nm          8
 4               NaN  2023-4536108  340300  2  10  Nm          2
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4556274  160800  2  10  Nm          0
 1048570         NaN  2023-4556274  160900  2  10  Grad        1
 1048571         NaN  2023-4556274  160900  2  10  Nm          0
 1048572         NaN  2023-4556274  190100  2  10  Grad        1
 1048573         NaN  2023-4556274  190100  2  10  Nm          0

         14.0                                               2023-11-08 12:32:14
 0        14.7                                          ... 2023-11-08 12:32:14
 1        120                                           ... 2023-11-08 12:32:14
 2        120                                           ... 2023-11-08 12:32:14
 3        120                                           ... 2023-11-08 12:32:14
 4        121                                           ... 2023-11-08 12:32:14
 ...                                                    ...                 ...
 1048569  35.18                                         ... 2023-11-10 08:34:45
 1048570  50.00                                         ... 2023-11-10 08:34:49
 1048571  35.38                                         ... 2023-11-10 08:34:49
 1048572  58.2                                          ... 2023-11-10 13:03:33
 1048573  20.5                                          ... 2023-11-10 13:03:33

 [1048574 rows x 9 columns],
 'Relatório 1(8)':          Unnamed: 0  2023-4556274  190200  2  10  Grad        1  \
 0               NaN  2023-4556274  190200  2  10  Nm          0
 1               NaN  2023-4556274  190500  2  10  Grad        3
 2               NaN  2023-4556274  190500  2  10  Grad        1
 3               NaN  2023-4556274  190500  2  10  Nm          0
 4               NaN  2023-4556274  190500  2  10  Nm          2
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4626002  323100  2  10  Nm          6
 1048570         NaN  2023-4626002  323100  2  10  Nm          4
 1048571         NaN  2023-4626002  323200  2  10  Grad        5
 1048572         NaN  2023-4626002  323200  2  10  Grad        7
 1048573         NaN  2023-4626002  323200  2  10  Grad        1

         111.1                                              2023-11-10 13:03:35
 0        20.2                                          ... 2023-11-10 13:03:35
 1        78.00                                         ... 2023-11-10 10:37:39
 2        95.00                                         ... 2023-11-10 10:37:39
 3        9.05                                          ... 2023-11-10 10:37:39
 4        9.05                                          ... 2023-11-10 10:37:39
 ...                                                    ...                 ...
 1048569  98.51                                         ... 2023-11-14 13:36:58
 1048570  98.73                                         ... 2023-11-14 13:36:58
 1048571  90.01                                         ... 2023-11-14 13:36:58
 1048572  90.02                                         ... 2023-11-14 13:36:58
 1048573  90.07                                         ... 2023-11-14 13:36:58

 [1048574 rows x 9 columns],
 'Relatório 1(9)':          Unnamed: 0  2023-4626002  323200  2  10  Grad        3  \
 0               NaN  2023-4626002  323200  2  10  Nm          6
 1               NaN  2023-4626002  323200  2  10  Nm          0
 2               NaN  2023-4626002  323200  2  10  Nm          4
 3               NaN  2023-4626002  323200  2  10  Nm          2
 4               NaN  2023-4626002  323300  2  10  Grad        5
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4656287  130200  2  10  Grad        3
 1048570         NaN  2023-4656287  130200  2  10  Grad        5
 1048571         NaN  2023-4656287  130200  2  10  Grad        1
 1048572         NaN  2023-4656287  130200  2  10  Nm          4
 1048573         NaN  2023-4656287  130200  2  10  Nm          2

         90.10                                              2023-11-14 13:36:58
 0        95.85                                         ... 2023-11-14 13:36:58
 1        96.40                                         ... 2023-11-14 13:36:58
 2        98.51                                         ... 2023-11-14 13:36:58
 3        99.95                                         ... 2023-11-14 13:36:58
 4        90.75                                         ... 2023-11-14 10:18:32
 ...                                                    ...                 ...
 1048569  64.00                                         ... 2023-11-17 22:15:06
 1048570  68.00                                         ... 2023-11-17 22:15:06
 1048571  82.00                                         ... 2023-11-17 22:15:06
 1048572  30.04                                         ... 2023-11-17 22:15:06
 1048573  30.25                                         ... 2023-11-17 22:15:06

 [1048574 rows x 9 columns],
 'Relatório 1(10)':          Unnamed: 0  2023-4656287  130200  2  10  Nm          0  \
 0               NaN  2023-4656287  130300  2  10  Grad        1
 1               NaN  2023-4656287  130300  2  10  Nm          0
 2               NaN  2023-4656287  130400  2  10  Grad        1
 3               NaN  2023-4656287  130400  2  10  Nm          0
 4               NaN  2023-4656287  131000  2  10  Grad        3
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4736006  260500  2  10  Grad        1
 1048570         NaN  2023-4736006  260500  2  10  Grad        3
 1048571         NaN  2023-4736006  260500  2  10  Grad        7
 1048572         NaN  2023-4736006  260500  2  10  Nm          4
 1048573         NaN  2023-4736006  260500  2  10  Nm          2

         30.52                                              2023-11-17 22:15:06
 0        60.2                                          ... 2023-11-17 22:09:20
 1        30.5                                          ... 2023-11-17 22:09:20
 2        100.00                                        ... 2023-11-17 22:09:27
 3        30.18                                         ... 2023-11-17 22:09:27
 4        48.00                                         ... 2023-11-17 21:43:24
 ...                                                    ...                 ...
 1048569  48.00                                         ... 2023-11-22 18:59:31

In [122]:
planilhas = []
for planilha,df in Resultados10.items():
    planilhas.append(planilha)
    print(planilha)

Relatório 1
Relatório 1(1)
Relatório 1(2)
Relatório 1(3)
Relatório 1(4)
Relatório 1(5)
Relatório 1(6)
Relatório 1(7)
Relatório 1(8)
Relatório 1(9)
Relatório 1(10)
Relatório 1(11)
Relatório 1(12)
Relatório 1(13)

In [123]:
prime = Resultados10['Relatório 1']
prime.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,NaN,2023-2316417,012001,1,10,NaN,0,NaN,2023-11-07 13:05:08
2,NaN,2023-2316417,012002,1,10,NaN,0,NaN,2023-11-07 13:23:11
3,NaN,2023-2316417,012003,1,10,NaN,0,NaN,2023-11-07 13:23:18
4,NaN,2023-2316417,012004,1,10,NaN,0,NaN,2023-11-07 13:22:00

In [124]:
prime.drop(prime.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = prime.iloc[0]
# Pega todos os dados sem a primeira linha
prime = prime[1:]
#Atualiza as linhas
prime.columns = colunas
prime.head()

0           KNR    NAME ID STATUS UNIT VALUE_ID VALUE                 DATA
1  2023-2316417  012001  1     10  NaN        0   NaN  2023-11-07 13:05:08
2  2023-2316417  012002  1     10  NaN        0   NaN  2023-11-07 13:23:11
3  2023-2316417  012003  1     10  NaN        0   NaN  2023-11-07 13:23:18
4  2023-2316417  012004  1     10  NaN        0   NaN  2023-11-07 13:22:00
5  2023-2316417  018001  1     10  NaN        0   NaN  2023-11-07 14:06:56

In [125]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)',
'Relatório 1(11)',
'Relatório 1(12)',
'Relatório 1(13)']

In [126]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = Resultados10[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [127]:
uniao = prime
for atual_df in lista:
    uniao = pd.concat([uniao, dfs[atual_df]], ignore_index=True)

In [128]:
uniao.to_csv('../static/RESULTADOS_10_2023_11_2023_juntados.csv')

In [4]:
Resultados12 = pd.read_excel("../static/RESULTADOS_12_2023_01_2024.xlsx", sheet_name=None)

Resultados12

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

{'Relatório 1':          Unnamed: 0    Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0               NaN           KNR       NAME         ID     STATUS
 1               NaN  2023-2056234     192600          2         10
 2               NaN  2023-2056234     192600          2         10
 3               NaN  2023-2056234     192600          2         10
 4               NaN  2023-2056234     192600          2         10
 ...             ...           ...        ...        ...        ...
 1048569         NaN  2023-4926054     524400          2         10
 1048570         NaN  2023-4926054     524400          2         10
 1048571         NaN  2023-4926054     524400          2         10
 1048572         NaN  2023-4926054     524400          2         10
 1048573         NaN  2023-4926054     550100          2         10

          Unnamed: 5 Unnamed: 6  \
 0              UNIT   VALUE_ID
 1        Grad                1
 2        Grad                3
 3        Nm                  2
 4        Nm                  0
 ...             ...        ...
 1048569  Grad                1
 1048570  Grad                3
 1048571  Nm                  0
 1048572  Nm                  2
 1048573  Grad                1

                                                 Unnamed: 7  \
 0                                                    VALUE
 1        10.1                                          ...
 2        13.8                                          ...
 3        20.08                                         ...
 4        20.14                                         ...
 ...                                                    ...
 1048569  17.17                                         ...
 1048570  17.74                                         ...
 1048571  20.18                                         ...
 1048572  20.27                                         ...
 1048573  35.00                                         ...

                   Unnamed: 8
 0                       DATA
 1        2023-12-06 07:07:09
 2        2023-12-06 07:07:09
 3        2023-12-06 07:07:09
 4        2023-12-06 07:07:09
 ...                      ...
 1048569  2023-12-05 15:45:37
 1048570  2023-12-05 15:45:37
 1048571  2023-12-05 15:45:37
 1048572  2023-12-05 15:45:37
 1048573  2023-12-05 14:01:45

 [1048574 rows x 9 columns],
 'Relatório 1(1)':          Unnamed: 0  2023-4926054  550100  2  10  Grad        3  \
 0               NaN  2023-4926054  550100  2  10  Nm          0
 1               NaN  2023-4926054  550100  2  10  Nm          2
 2               NaN  2023-4926054  550200  2  10  Grad        3
 3               NaN  2023-4926054  550200  2  10  Grad        1
 4               NaN  2023-4926054  550200  2  10  Nm          0
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2023-4946230  317000  2  10  Nm          0
 1048570         NaN  2023-4946230  317100  2  10  Grad        1
 1048571         NaN  2023-4946230  317100  2  10  Nm          0
 1048572         NaN  2023-4946230  317200  2  10  Grad        1
 1048573         NaN  2023-4946230  317200  2  10  Nm          0

         43.00                                              2023-12-05 14:01:45
 0        55.11                                         ... 2023-12-05 14:01:45
 1        55.32                                         ... 2023-12-05 14:01:45
 2        44.00                                         ... 2023-12-05 14:01:39
 3        45.00                                         ... 2023-12-05 14:01:39
 4        55.31                                         ... 2023-12-05 14:01:39
 ...                                                    ...                 ...
 1048569  20.18                                         ... 2023-12-07 14:13:01
 1048570  21.00                                         ... 2023-12-07 14:13:38
 1048571  20.07                                         ... 2023-12-07 14:13:38
 1048572  90.27                                         ... 2023-12-07 14:41:29
 1048573  74.49                                         ... 2023-12-07 14:41:29

 [1048574 rows x 9 columns],
 'Relatório 1(2)':          Unnamed: 0  2023-4946230  317300  2  10  Grad        1  \
 0               NaN  2023-4946230  317300  2  10  Nm          0
 1               NaN  2023-4946230  317600  2  10  Grad        1
 2               NaN  2023-4946230  317600  2  10  Grad        5
 3               NaN  2023-4946230  317600  2  10  Grad        3
 4               NaN  2023-4946230  317600  2  10  Nm          2
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0336046  552500  2  10  Grad        3
 1048570         NaN  2024-0336046  552500  2  10  Grad        7
 1048571         NaN  2024-0336046  552500  2  10  Nm          4
 1048572         NaN  2024-0336046  552500  2  10  Nm          2
 1048573         NaN  2024-0336046  552500  2  10  Nm          0

         90.35                                              2023-12-07 14:41:38
 0        93.05                                         ... 2023-12-07 14:41:38
 1        30.00                                         ... 2023-12-07 14:04:04
 2        31.00                                         ... 2023-12-07 14:04:04
 3        38.00                                         ... 2023-12-07 14:04:04
 4        12.14                                         ... 2023-12-07 14:04:04
 ...                                                    ...                 ...
 1048569  69.00                                         ... 2024-01-16 09:46:38
 1048570  94.00                                         ... 2024-01-16 09:46:38
 1048571  40.10                                         ... 2024-01-16 09:46:38
 1048572  40.16                                         ... 2024-01-16 09:46:38
 1048573  40.18                                         ... 2024-01-16 09:46:38

 [1048574 rows x 9 columns],
 'Relatório 1(3)':          Unnamed: 0  2024-0336046  552500  2  10  Nm          6  \
 0               NaN  2024-0336046  553700  2  10  Grad        1
 1               NaN  2024-0336046  553700  2  10  Nm          0
 2               NaN  2024-0336046  560400  2  10  Grad        1
 3               NaN  2024-0336046  560400  2  10  Nm          0
 4               NaN  2024-0336046  560500  2  10  Grad        1
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0356269  216100  2  10  Nm          0
 1048570         NaN  2024-0356269  216200  2  10  Grad        1
 1048571         NaN  2024-0356269  216200  2  10  Grad        5
 1048572         NaN  2024-0356269  216200  2  10  Grad        3
 1048573         NaN  2024-0356269  216200  2  10  Nm          2

         40.92                                              2024-01-16 09:46:38
 0        24.00                                         ... 2024-01-16 09:46:48
 1        9.03                                          ... 2024-01-16 09:46:48
 2        22.00                                         ... 2024-01-16 06:40:21
 3        40.17                                         ... 2024-01-16 06:40:21
 4        34.00                                         ... 2024-01-16 06:41:48
 ...                                                    ...                 ...
 1048569  23.2                                          ... 2024-01-18 14:41:05
 1048570  26.8                                          ... 2024-01-18 14:41:16
 1048571  30.5                                          ... 2024-01-18 14:41:16
 1048572  32.7                                          ... 2024-01-18 14:41:16
 1048573  23.0                                          ... 2024-01-18 14:41:16

 [1048574 rows x 9 columns],
 'Relatório 1(4)':          Unnamed: 0  2024-0356269  216200  2  10  Nm          4  \
 0               NaN  2024-0356269  216200  2  10  Nm          0
 1               NaN  2024-0356269  221500  2  10  Grad        1
 2               NaN  2024-0356269  221500  2  10  Grad        5
 3               NaN  2024-0356269  221500  2  10  Grad        7
 4               NaN  2024-0356269  221500  2  10  Grad        3
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0426467  221500  2  10  Grad        5
 1048570         NaN  2024-0426467  221500  2  10  Grad        1
 1048571         NaN  2024-0426467  221500  2  10  Grad        3
 1048572         NaN  2024-0426467  221500  2  10  Nm          2
 1048573         NaN  2024-0426467  221500  2  10  Nm          0

         23.3                                               2024-01-18 14:41:16
 0        23.5                                          ... 2024-01-18 14:41:16
 1        0.00                                          ... 2024-01-18 15:17:59
 2        54.00                                         ... 2024-01-18 15:17:59
 3        63.00                                         ... 2024-01-18 15:17:59
 4        87.00                                         ... 2024-01-18 15:17:59
 ...                                                    ...                 ...
 1048569  53.00                                         ... 2024-01-22 16:49:41
 1048570  67.00                                         ... 2024-01-22 16:49:41
 1048571  69.00                                         ... 2024-01-22 16:49:41
 1048572  8.03                                          ... 2024-01-22 16:49:41
 1048573  8.04                                          ... 2024-01-22 16:49:41

 [1048574 rows x 9 columns],
 'Relatório 1(5)':          Unnamed: 0  2024-0426467  221500  2  10  Nm          4  \
 0               NaN  2024-0426467  242900  2  10  Grad        1
 1               NaN  2024-0426467  242900  2  10  Grad        3
 2               NaN  2024-0426467  242900  2  10  Nm          0
 3               NaN  2024-0426467  242900  2  10  Nm          2
 4               NaN  2024-0426467  243000  2  10  Grad        3
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0456146  650200  2  10  Grad        3
 1048570         NaN  2024-0456146  650200  2  10  Nm          0
 1048571         NaN  2024-0456146  650200  2  10  Nm          2
 1048572         NaN  2024-0456146  650300  2  10  Grad        1
 1048573         NaN  2024-0456146  650300  2  10  Nm          0

         8.05                                               2024-01-22 16:49:41
 0        1319.00                                       ... 2024-01-22 16:38:35
 1        1343.00                                       ... 2024-01-22 16:38:35
 2        25.06                                         ... 2024-01-22 16:38:35
 3        25.11                                         ... 2024-01-22 16:38:35
 4        11.1                                          ... 2024-01-22 16:38:15
 ...                                                    ...                 ...
 1048569  90.01                                         ... 2024-01-25 14:54:05
 1048570  41.39                                         ... 2024-01-25 14:54:05
 1048571  52.16                                         ... 2024-01-25 14:54:05
 1048572  90.01                                         ... 2024-01-25 14:53:37
 1048573  41.25                                         ... 2024-01-25 14:53:37

 [1048574 rows x 9 columns],
 'Relatório 1(6)':          Unnamed: 0  2024-0456146  652300  2  10  Grad        3  \
 0               NaN  2024-0456146  652300  2  10  Grad        1
 1               NaN  2024-0456146  652300  2  10  Nm          0
 2               NaN  2024-0456146  652300  2  10  Nm          2
 3               NaN  2024-0456146  720100  2  10  Grad        1
 4               NaN  2024-0456146  720100  2  10  Grad        3
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0526315  340300  2  10  Nm          8
 1048570         NaN  2024-0526315  340400  2  10  Grad        5
 1048571         NaN  2024-0526315  340400  2  10  Grad        3
 1048572         NaN  2024-0526315  340400  2  10  Grad        7
 1048573         NaN  2024-0526315  340400  2  10  Grad        1

         93.00                                              2024-01-25 15:12:04
 0        95.00                                         ... 2024-01-25 15:12:04
 1        16.18                                         ... 2024-01-25 15:12:04
 2        16.36                                         ... 2024-01-25 15:12:04
 3        38.4                                          ... 2024-01-23 20:00:00
 4        40.9                                          ... 2024-01-23 20:00:00
 ...                                                    ...                 ...
 1048569  121                                           ... 2024-01-29 13:59:35
 1048570  13.6                                          ... 2024-01-29 13:59:13
 1048571  14.0                                          ... 2024-01-29 13:59:13
 1048572  14.0                                          ... 2024-01-29 13:59:13
 1048573  15.1                                          ... 2024-01-29 13:59:13

 [1048574 rows x 9 columns],
 'Relatório 1(7)':          Unnamed: 0  2024-0526315  340400  2  10  Grad        9  \
 0               NaN  2024-0526315  340400  2  10  Nm          8
 1               NaN  2024-0526315  340400  2  10  Nm          0
 2               NaN  2024-0526315  340400  2  10  Nm          4
 3               NaN  2024-0526315  340400  2  10  Nm          6
 4               NaN  2024-0526315  340400  2  10  Nm          2
 ...             ...           ...     ... ..  ..         ... ..
 1048569         NaN  2024-0546487  272700  2  10  Grad        1
 1048570         NaN  2024-0546487  272700  2  10  Nm          0
 1048571         NaN  2024-0546487  273300  2  10  Grad        1
 1048572         NaN  2024-0546487  273300  2  10  Grad        3
 1048573         NaN  2024-0546487  273300  2  10  Nm          0

         16.4                                               2024-01-29 13:59:13
 0        120                                           ... 2024-01-29 13:59:13
 1        121                                           ... 2024-01-29 13:59:13
 2        121                                           ... 2024-01-29 13:59:13
 3        121                                           ... 2024-01-29 13:59:13
 4        122                                           ... 2024-01-29 13:59:13
 ...                                                    ...                 ...
 1048569  126.00                                        ... 2024-01-31 23:22:13
 1048570  6.00                                          ... 2024-01-31 23:22:13
 1048571  0.00                                          ... 2024-01-31 23:22:31
 1048572  19.00                                         ... 2024-01-31 23:22:31
 1048573  1.06                                          ... 2024-01-31 23:22:31

 [1048574 rows x 9 columns],
 'Relatório 1(8)':         Unnamed: 0  2024-0546487  273300  2  10  Nm          2.1  \
 0              NaN  2024-0546487  273400  2  10  Grad        1.0
 1              NaN  2024-0546487  273400  2  10  Nm          0.0
 2              NaN  2024-0546487  274000  2  10  Grad        1.0
 3              NaN  2024-0546487  274000  2  10  Nm          0.0
 4              NaN  2024-0546487  274600  2  10  Grad        3.0
 ...            ...           ...     ... ..  ..         ...  ...
 200039         NaN  2024-2056234  720100  2  10  Nm          0.0
 200040         NaN  2024-2056234  720200  2  10  Grad        1.0
 200041         NaN  2024-2056234  720200  2  10  Grad        3.0
 200042         NaN  2024-2056234  720200  2  10  Nm          0.0
 200043         NaN  2024-2056234  720200  2  10  Nm          2.0

        6.23                                               2024-01-31 23:22:31
 0       17.00                                         ... 2024-01-31 23:05:48
 1       12.06                                         ... 2024-01-31 23:05:48
 2       80.00                                         ... 2024-01-31 19:12:06
 3       20.00                                         ... 2024-01-31 19:12:06
 4       33.00                                         ... 2024-01-31 20:36:58
 ...                                                   ...                 ...
 200039  10.05                                         ... 2023-12-06 07:07:11
 200040  25.4                                          ... 2023-12-06 07:07:11
 200041  29.4                                          ... 2023-12-06 07:07:11
 200042  10                                            ... 2023-12-06 07:07:11
 200043  10.05                                         ... 2023-12-06 07:07:11

 [200044 rows x 9 columns]}

In [5]:
planilhas = []
for planilha,df in Resultados12.items():
    planilhas.append(planilha)
    print(planilha)

Relatório 1
Relatório 1(1)
Relatório 1(2)
Relatório 1(3)
Relatório 1(4)
Relatório 1(5)
Relatório 1(6)
Relatório 1(7)
Relatório 1(8)

In [6]:
prime = Resultados12['Relatório 1']
prime.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,NaN,2023-2056234,192600,2,10,Grad,1,10.1 ...,2023-12-06 07:07:09
2,NaN,2023-2056234,192600,2,10,Grad,3,13.8 ...,2023-12-06 07:07:09
3,NaN,2023-2056234,192600,2,10,Nm,2,20.08 ...,2023-12-06 07:07:09
4,NaN,2023-2056234,192600,2,10,Nm,0,20.14 ...,2023-12-06 07:07:09

In [8]:
prime.drop(prime.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = prime.iloc[0]
# Pega todos os dados sem a primeira linha
prime = prime[1:]
#Atualiza as linhas
prime.columns = colunas
prime.head()

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,2023-2056234,192600,2,10,Grad,1,10.1 ...,2023-12-06 07:07:09
2,2023-2056234,192600,2,10,Grad,3,13.8 ...,2023-12-06 07:07:09
3,2023-2056234,192600,2,10,Nm,2,20.08 ...,2023-12-06 07:07:09
4,2023-2056234,192600,2,10,Nm,0,20.14 ...,2023-12-06 07:07:09
5,2023-2056234,192700,2,10,Grad,3,10.9 ...,2023-12-06 07:06:58

In [9]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)']

In [10]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = Resultados12[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [11]:
uniao = prime
for atual_df in lista:
    uniao = pd.concat([uniao, dfs[atual_df]], ignore_index=True)

In [114]:
uniao.to_csv('../static/RESULTADOS_12_2023_01_2024_juntados.csv')

In [29]:
Resultado12 = pd.read_csv('../static/RESULTADOS_12_2023_01_2024_juntados.csv')
Resultado12

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,0,2023-2316417,012001,1,10,NaN,0.0,NaN,2023-11-07 13:05:08
1,1,2023-2316417,012002,1,10,NaN,0.0,NaN,2023-11-07 13:23:11
2,2,2023-2316417,012003,1,10,NaN,0.0,NaN,2023-11-07 13:23:18
3,3,2023-2316417,012004,1,10,NaN,0.0,NaN,2023-11-07 13:22:00
4,4,2023-2316417,018001,1,10,NaN,0.0,NaN,2023-11-07 14:06:56
...,...,...,...,...,...,...,...,...,...
14633724,14633724,2024-0856411,720100,2,10,Nm,2.0,10.03 ...,2023-11-24 08:36:21
14633725,14633725,2024-0856411,720200,2,10,Grad,1.0,32.2 ...,2023-11-24 08:36:21
14633726,14633726,2024-0856411,720200,2,10,Grad,3.0,40.5 ...,2023-11-24 08:36:21
14633727,14633727,2024-0856411,720200,2,10,Nm,2.0,10.02 ...,2023-11-24 08:36:21
14633728,14633728,2024-0856411,720200,2,10,Nm,0.0,10.03 ...,2023-11-24 08:36:21

In [28]:
Resultado2 = pd.read_csv('../static/RESULTADOS_02_03_2024_juntados.csv')
Resultado2

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,0,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.479 ...,2024-02-02 08:03:03
1,1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.617 ...,2024-02-02 07:37:59
2,2,2023-5076008,SECTION_ZP8_00000001,718,10,V,80.0,12.951 ...,2024-02-02 08:32:14
3,3,2023-5076015,SECTION_ZP8_00000001,718,13,V,80.0,12.223 ...,2024-02-07 14:05:16
4,4,2023-5076015,SECTION_ZP8_00000001,718,10,V,80.0,12.855 ...,2024-02-07 14:31:41
...,...,...,...,...,...,...,...,...,...
11099103,11099103,2024-2016184,720100,2,10,Nm,2.0,10.06 ...,2024-03-21 17:48:53
11099104,11099104,2024-2016184,720200,2,10,Grad,1.0,21 ...,2024-03-21 17:48:53
11099105,11099105,2024-2016184,720200,2,10,Grad,3.0,27.8 ...,2024-03-21 17:48:53
11099106,11099106,2024-2016184,720200,2,10,Nm,0.0,10.02 ...,2024-03-21 17:48:53
11099107,11099107,2024-2016184,720200,2,10,Nm,2.0,10.04 ...,2024-03-21 17:48:53

In [30]:
Resultado4 = pd.read_csv('../static/RESULTADOS_04_06_2024_juntados.csv')
Resultado4

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,0,2023-2056234,012001,1,10,NaN,NaN,NaN,2024-05-16 13:41:25
1,1,2023-2056234,012002,1,10,NaN,NaN,NaN,2024-05-16 14:12:35
2,2,2023-2056234,012003,1,10,NaN,NaN,NaN,2024-05-16 14:12:27
3,3,2023-2056234,012004,1,10,NaN,NaN,NaN,2024-05-16 14:11:07
4,4,2023-2056234,012008,1,10,NaN,NaN,NaN,2024-05-16 14:13:07
...,...,...,...,...,...,...,...,...,...
21674247,21674247,2024-2976013,720100,2,10,Nm,2.0,10.09 ...,2024-05-21 14:33:38
21674248,21674248,2024-2976013,720200,2,10,Grad,1.0,11.7 ...,2024-05-21 14:33:38
21674249,21674249,2024-2976013,720200,2,10,Grad,3.0,17.4 ...,2024-05-21 14:33:38
21674250,21674250,2024-2976013,720200,2,10,Nm,0.0,10.07 ...,2024-05-21 14:33:38
21674251,21674251,2024-2976013,720200,2,10,Nm,2.0,10.11 ...,2024-05-21 14:33:38

In [33]:
Resultado6 = pd.read_csv('../static/RESULTADOS_06_2023_07_2023_juntados.csv')
Resultado6

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,0,2023-2016173,272500,2,10,Grad,1.0,1.00 ...,2023-06-06 07:07:30
1,1,2023-2016173,272500,2,10,Grad,3.0,253.00 ...,2023-06-06 07:07:30
2,2,2023-2016173,272500,2,10,Nm,0.0,2.05 ...,2023-06-06 07:07:30
3,3,2023-2016173,272500,2,10,Nm,2.0,6.00 ...,2023-06-06 07:07:30
4,4,2023-2016173,580300,2,10,Grad,3.0,13.00 ...,2023-06-06 07:07:10
...,...,...,...,...,...,...,...,...,...
11081795,11081795,2023-4816202,720100,2,10,Nm,2.0,10.05 ...,2023-08-28 07:49:24
11081796,11081796,2023-4816202,720200,2,10,Grad,3.0,34.1 ...,2023-08-28 07:49:24
11081797,11081797,2023-4816202,720200,2,10,Grad,1.0,40.2 ...,2023-08-28 07:49:24
11081798,11081798,2023-4816202,720200,2,10,Nm,2.0,10.01 ...,2023-08-28 07:49:24
11081799,11081799,2023-4816202,720200,2,10,Nm,0.0,10.04 ...,2023-08-28 07:49:24

In [34]:
Resultado8 = pd.read_csv('../static/RESULTADOS_08_2023_09_2023_juntados.csv')
Resultado8

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,0,2023-2316418,012001,1,10,NaN,0,NaN,2023-08-02 12:04:16
1,1,2023-2316418,012002,1,10,NaN,0,NaN,2023-08-02 12:18:14
2,2,2023-2316418,012003,1,10,NaN,0,NaN,2023-08-02 12:18:27
3,3,2023-2316418,012004,1,10,NaN,0,NaN,2023-08-02 12:17:27
4,4,2023-2316418,018001,1,10,NaN,0,NaN,2023-08-02 11:57:29
...,...,...,...,...,...,...,...,...,...
11393173,11393173,2024-0576012,720100,2,10,Nm,0,10.06 ...,2023-09-27 08:31:53
11393174,11393174,2024-0576012,720200,2,10,Grad,1,22.5 ...,2023-09-27 08:31:53
11393175,11393175,2024-0576012,720200,2,10,Grad,3,32.9 ...,2023-09-27 08:31:53
11393176,11393176,2024-0576012,720200,2,10,Nm,2,10 ...,2023-09-27 08:31:53
11393177,11393177,2024-0576012,720200,2,10,Nm,0,10.05 ...,2023-09-27 08:31:53

In [35]:
Resultado10 = pd.read_csv('../static/RESULTADOS_10_2023_11_2023_juntados.csv')
Resultado10

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,0,2023-2316417,012001,1,10,NaN,0.0,NaN,2023-11-07 13:05:08
1,1,2023-2316417,012002,1,10,NaN,0.0,NaN,2023-11-07 13:23:11
2,2,2023-2316417,012003,1,10,NaN,0.0,NaN,2023-11-07 13:23:18
3,3,2023-2316417,012004,1,10,NaN,0.0,NaN,2023-11-07 13:22:00
4,4,2023-2316417,018001,1,10,NaN,0.0,NaN,2023-11-07 14:06:56
...,...,...,...,...,...,...,...,...,...
14633724,14633724,2024-0856411,720100,2,10,Nm,2.0,10.03 ...,2023-11-24 08:36:21
14633725,14633725,2024-0856411,720200,2,10,Grad,1.0,32.2 ...,2023-11-24 08:36:21
14633726,14633726,2024-0856411,720200,2,10,Grad,3.0,40.5 ...,2023-11-24 08:36:21
14633727,14633727,2024-0856411,720200,2,10,Nm,2.0,10.02 ...,2023-11-24 08:36:21
14633728,14633728,2024-0856411,720200,2,10,Nm,0.0,10.03 ...,2023-11-24 08:36:21

In [36]:
combined_df = pd.concat([Resultado2, Resultado4, Resultado6, Resultado8, Resultado10, Resultado12], axis=0, ignore_index=True)

# Save the concatenated DataFrame to a new CSV file (optional)
combined_df.to_csv("../static/Resultados_juntos.csv", index=False)

combined_df

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,0,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.479 ...,2024-02-02 08:03:03
1,1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.617 ...,2024-02-02 07:37:59
2,2,2023-5076008,SECTION_ZP8_00000001,718,10,V,80.0,12.951 ...,2024-02-02 08:32:14
3,3,2023-5076015,SECTION_ZP8_00000001,718,13,V,80.0,12.223 ...,2024-02-07 14:05:16
4,4,2023-5076015,SECTION_ZP8_00000001,718,10,V,80.0,12.855 ...,2024-02-07 14:31:41
...,...,...,...,...,...,...,...,...,...
84515791,14633724,2024-0856411,720100,2,10,Nm,2.0,10.03 ...,2023-11-24 08:36:21
84515792,14633725,2024-0856411,720200,2,10,Grad,1.0,32.2 ...,2023-11-24 08:36:21
84515793,14633726,2024-0856411,720200,2,10,Grad,3.0,40.5 ...,2023-11-24 08:36:21
84515794,14633727,2024-0856411,720200,2,10,Nm,2.0,10.02 ...,2023-11-24 08:36:21
84515795,14633728,2024-0856411,720200,2,10,Nm,0.0,10.03 ...,2023-11-24 08:36:21

In [56]:
combined_df = pd.read_csv("../static/Resultados_juntos.csv")
combined_df.drop(combined_df.columns[0], axis=1, inplace=True)
combined_df

C:\Users\mario\AppData\Local\Temp\ipykernel_15380\2764579432.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_df = pd.read_csv("../static/Resultados_juntos.csv")

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.479 ...,2024-02-02 08:03:03
1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.617 ...,2024-02-02 07:37:59
2,2023-5076008,SECTION_ZP8_00000001,718,10,V,80.0,12.951 ...,2024-02-02 08:32:14
3,2023-5076015,SECTION_ZP8_00000001,718,13,V,80.0,12.223 ...,2024-02-07 14:05:16
4,2023-5076015,SECTION_ZP8_00000001,718,10,V,80.0,12.855 ...,2024-02-07 14:31:41
...,...,...,...,...,...,...,...,...
84515791,2024-0856411,720100,2,10,Nm,2.0,10.03 ...,2023-11-24 08:36:21
84515792,2024-0856411,720200,2,10,Grad,1.0,32.2 ...,2023-11-24 08:36:21
84515793,2024-0856411,720200,2,10,Grad,3.0,40.5 ...,2023-11-24 08:36:21
84515794,2024-0856411,720200,2,10,Nm,2.0,10.02 ...,2023-11-24 08:36:21
84515795,2024-0856411,720200,2,10,Nm,0.0,10.03 ...,2023-11-24 08:36:21

In [57]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84515796 entries, 0 to 84515795
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   KNR       object
 1   NAME      object
 2   ID        int64
 3   STATUS    int64
 4   UNIT      object
 5   VALUE_ID  object
 6   VALUE     object
 7   DATA      object
dtypes: int64(2), object(6)
memory usage: 5.0+ GB

In [58]:
combined_df.groupby('KNR').count()

              NAME  ID  STATUS  UNIT  VALUE_ID  VALUE  DATA
KNR
2023-2016173    23  23      23    14        23     14    23
2023-2026098    23  23      23     9        23      9    23
2023-2026162    19  19      19     9        19      9    19
2023-2026175    27  27      27     9        27      9    27
2023-2026215    27  27      27     9        27      9    27
...            ...  ..     ...   ...       ...    ...   ...
2024-2976009    72  72      72    72        72     72    72
2024-2976010    72  72      72    72        72     72    72
2024-2976011    74  74      74    74        74     74    74
2024-2976012    82  82      82    82        82     82    82
2024-2976013    72  72      72    72        72     72    72

[71476 rows x 7 columns]

In [54]:
falhas_df = pd.read_csv('../static/FALHAS_TRATADO.csv')
falhas_df

,Unnamed: 0,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,1,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,2024-05-20 21:31:51.992000
1,2,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,2024-05-20 21:30:22.772000
2,3,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,2024-05-20 20:04:55.534000
3,4,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-04-11 12:15:39.616000
4,5,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,2024-06-05 17:38:51.565000
...,...,...,...,...,...,...,...,...,...,...
328896,328897,2024-2976012,T-CROSS,0QA1,DHS,PCEQS315,4005452,ZP5A,TETO 05. SUJEIRA NA PINTURA,2024-06-20 08:14:38.154000
328897,328898,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS101,4006390,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2024-05-21 13:55:23.385000
328898,328899,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS101,4006390,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2024-05-21 13:55:24.775000
328899,328900,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS118,2075628,,WPK (CÉLULA 10) FALTA LIBERACAO,2024-05-17 06:20:59.105000
328900,328901,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS314,2061350,ZP5A,PAINEL LATERAL 05. SUJEIRA NA PINTURA,2024-05-28 11:50:38.507000

In [55]:
falhas_df.drop(falhas_df.columns[0], axis=1, inplace=True)
falhas_df

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,2024-05-20 21:31:51.992000
1,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,2024-05-20 21:30:22.772000
2,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,2024-05-20 20:04:55.534000
3,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-04-11 12:15:39.616000
4,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,2024-06-05 17:38:51.565000
...,...,...,...,...,...,...,...,...,...
328896,2024-2976012,T-CROSS,0QA1,DHS,PCEQS315,4005452,ZP5A,TETO 05. SUJEIRA NA PINTURA,2024-06-20 08:14:38.154000
328897,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS101,4006390,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2024-05-21 13:55:23.385000
328898,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS101,4006390,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2024-05-21 13:55:24.775000
328899,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS118,2075628,,WPK (CÉLULA 10) FALTA LIBERACAO,2024-05-17 06:20:59.105000
328900,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS314,2061350,ZP5A,PAINEL LATERAL 05. SUJEIRA NA PINTURA,2024-05-28 11:50:38.507000

In [60]:
falhas_df = falhas_df[falhas_df['HALLE'].str.contains("ROD", na=False)]
falhas_df = falhas_df.drop(columns=['HALLE'])
falhas_df.head()

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,FALHA,DATA
203,2024-1346277,T-CROSS,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
204,2024-1346277,T-CROSS,K2K2,CWL,PCEQS709,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
321,2024-1346481,T-CROSS,A1A1,DHS,PCEQS709,2043610,Revestimento coluna A Ruído (-),2024-04-04 06:20:33.126000
322,2024-1346481,T-CROSS,A1A1,DHS,PCEQS709,2043610,REVESTIMENTO COLUNA A RUÍDO (-),2024-04-04 06:20:33.126000
371,2024-1426013,T-CROSS,0Q0Q,DHS,PCEQS709,2077078,Tampa traseira Ruído (-),2024-04-04 12:57:36.072000

In [62]:
merged_df = pd.merge(combined_df, falhas_df, on='KNR', how='inner')

In [64]:
merged_df.shape

(3907964, 15)

In [65]:
merged_df

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA_x,MODELO,COR,MOTOR,ESTACAO,USUARIO,FALHA,DATA_y
0,2024-1346277,012001,1,10,NaN,0.0,NaN,2024-03-27 15:49:28,T-CROSS,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
1,2024-1346277,012001,1,10,NaN,0.0,NaN,2024-03-27 15:49:28,T-CROSS,K2K2,CWL,PCEQS709,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
2,2024-1346277,012001,1,10,NaN,NaN,NaN,2024-03-27 15:49:28,T-CROSS,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
3,2024-1346277,012001,1,10,NaN,NaN,NaN,2024-03-27 15:49:28,T-CROSS,K2K2,CWL,PCEQS709,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
4,2024-1346277,012002,1,10,NaN,0.0,NaN,2024-03-27 16:08:24,T-CROSS,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907959,2024-2656185,720100,2,10,Nm,2.0,10.07 ...,2024-06-18 14:15:42,T-CROSS,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907960,2024-2656185,720200,2,10,Grad,1.0,18.2 ...,2024-06-18 14:15:42,T-CROSS,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907961,2024-2656185,720200,2,10,Grad,3.0,21.6 ...,2024-06-18 14:15:42,T-CROSS,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907962,2024-2656185,720200,2,10,Nm,2.0,10.05 ...,2024-06-18 14:15:42,T-CROSS,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907963,2024-2656185,720200,2,10,Nm,0.0,10.06 ...,2024-06-18 14:15:42,T-CROSS,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000

In [66]:
merged_df.columns

Index(['KNR', 'NAME', 'ID', 'STATUS', 'UNIT', 'VALUE_ID', 'VALUE', 'DATA_x',
       'MODELO', 'COR', 'MOTOR', 'ESTACAO', 'USUARIO', 'FALHA', 'DATA_y'],
      dtype='object')

In [69]:
merged_df.to_csv("../static/falhas_resultados.csv", index=False)

In [70]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3907964 entries, 0 to 3907963
Data columns (total 15 columns):
 #   Column    Dtype
---  ------    -----
 0   KNR       object
 1   NAME      object
 2   ID        int64
 3   STATUS    int64
 4   UNIT      object
 5   VALUE_ID  object
 6   VALUE     object
 7   DATA_x    object
 8   MODELO    object
 9   COR       object
 10  MOTOR     object
 11  ESTACAO   object
 12  USUARIO   object
 13  FALHA     object
 14  DATA_y    object
dtypes: int64(2), object(13)
memory usage: 447.2+ MB

In [75]:
merged_df.describe()

                 ID        STATUS
count  3.907964e+06  3.907964e+06
mean   4.564271e+01  1.001929e+01
std    1.713351e+02  2.398147e-01
min    1.000000e+00  1.000000e+01
25%    2.000000e+00  1.000000e+01
50%    2.000000e+00  1.000000e+01
75%    2.000000e+00  1.000000e+01
max    7.180000e+02  1.300000e+01

In [77]:
merged_df = merged_df[merged_df['MODELO'].str.contains("T-CROSS", na=False)]
merged_df = merged_df.drop(columns=['MODELO'])
merged_df

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA_x,COR,MOTOR,ESTACAO,USUARIO,FALHA,DATA_y
0,2024-1346277,012001,1,10,NaN,0.0,NaN,2024-03-27 15:49:28,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
1,2024-1346277,012001,1,10,NaN,0.0,NaN,2024-03-27 15:49:28,K2K2,CWL,PCEQS709,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
2,2024-1346277,012001,1,10,NaN,NaN,NaN,2024-03-27 15:49:28,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
3,2024-1346277,012001,1,10,NaN,NaN,NaN,2024-03-27 15:49:28,K2K2,CWL,PCEQS709,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
4,2024-1346277,012002,1,10,NaN,0.0,NaN,2024-03-27 16:08:24,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907959,2024-2656185,720100,2,10,Nm,2.0,10.07 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907960,2024-2656185,720200,2,10,Grad,1.0,18.2 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907961,2024-2656185,720200,2,10,Grad,3.0,21.6 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907962,2024-2656185,720200,2,10,Nm,2.0,10.05 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907963,2024-2656185,720200,2,10,Nm,0.0,10.06 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000

In [101]:
df_cleaned = merged_df.dropna(subset=['UNIT', 'VALUE_ID', 'VALUE', 'STATUS'])
df_cleaned

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA_x,COR,MOTOR,ESTACAO,USUARIO,FALHA,DATA_y
20,2024-1346277,042000,1,10,Deg,5.0,15427 ...,2024-03-27 15:12:07,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
21,2024-1346277,042000,1,10,Deg,5.0,15427 ...,2024-03-27 15:12:07,K2K2,CWL,PCEQS709,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
22,2024-1346277,042000,1,10,mm,2.0,1.76 ...,2024-03-27 15:12:07,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
23,2024-1346277,042000,1,10,mm,2.0,1.76 ...,2024-03-27 15:12:07,K2K2,CWL,PCEQS709,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
24,2024-1346277,042000,1,10,mm,3.0,1.95 ...,2024-03-27 15:12:07,K2K2,CWL,PCEQS709,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907959,2024-2656185,720100,2,10,Nm,2.0,10.07 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907960,2024-2656185,720200,2,10,Grad,1.0,18.2 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907961,2024-2656185,720200,2,10,Grad,3.0,21.6 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907962,2024-2656185,720200,2,10,Nm,2.0,10.05 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907963,2024-2656185,720200,2,10,Nm,0.0,10.06 ...,2024-06-18 14:15:42,6UA1,CWL,PCEQS709,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000

In [102]:
df_cleaned = df_cleaned.drop(columns=['ESTACAO'])
df_cleaned

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA_x,COR,MOTOR,USUARIO,FALHA,DATA_y
20,2024-1346277,042000,1,10,Deg,5.0,15427 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
21,2024-1346277,042000,1,10,Deg,5.0,15427 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
22,2024-1346277,042000,1,10,mm,2.0,1.76 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
23,2024-1346277,042000,1,10,mm,2.0,1.76 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,CONSOLE CENTRAL RUÍDO DE CORPO ESTRANHO,2024-04-05 16:50:34.322000
24,2024-1346277,042000,1,10,mm,3.0,1.95 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,Console central Ruído de corpo estranho,2024-04-05 16:50:34.322000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907959,2024-2656185,720100,2,10,Nm,2.0,10.07 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907960,2024-2656185,720200,2,10,Grad,1.0,18.2 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907961,2024-2656185,720200,2,10,Grad,3.0,21.6 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907962,2024-2656185,720200,2,10,Nm,2.0,10.05 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000
3907963,2024-2656185,720200,2,10,Nm,0.0,10.06 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,TETO/TETO MOLDADO (CHEIO) RUÍDO (-),2024-06-20 22:48:38.342000

In [103]:
df_cleaned['FALHA'] = df_cleaned['FALHA'].str.lower()

In [105]:
df_cleaned = df_cleaned.drop_duplicates()

In [106]:
df_cleaned

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA_x,COR,MOTOR,USUARIO,FALHA,DATA_y
20,2024-1346277,042000,1,10,Deg,5.0,15427 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
22,2024-1346277,042000,1,10,mm,2.0,1.76 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
24,2024-1346277,042000,1,10,mm,3.0,1.95 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
26,2024-1346277,042000,1,10,mm,1.0,3.71 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
28,2024-1346277,042000,1,10,Nm,4.0,3.38 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907959,2024-2656185,720100,2,10,Nm,2.0,10.07 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,teto/teto moldado (cheio) ruído (-),2024-06-20 22:48:38.342000
3907960,2024-2656185,720200,2,10,Grad,1.0,18.2 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,teto/teto moldado (cheio) ruído (-),2024-06-20 22:48:38.342000
3907961,2024-2656185,720200,2,10,Grad,3.0,21.6 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,teto/teto moldado (cheio) ruído (-),2024-06-20 22:48:38.342000
3907962,2024-2656185,720200,2,10,Nm,2.0,10.05 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,teto/teto moldado (cheio) ruído (-),2024-06-20 22:48:38.342000
3907963,2024-2656185,720200,2,10,Nm,0.0,10.06 ...,2024-06-18 14:15:42,6UA1,CWL,2049732,teto/teto moldado (cheio) ruído (-),2024-06-20 22:48:38.342000

In [107]:
df_cleaned.to_csv("../static/tabela_da_felicidade.csv", index=False)