In [2]:
import pandas as pd

In [5]:
Resultados8 = pd.read_excel("../static/RESULTADOS_08_2023_09_2023.xlsx", header=3, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

Resultados8

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-2316418,012001,1,10,NaN,0,NaN,2023-08-02 12:04:16
1,2023-2316418,012002,1,10,NaN,0,NaN,2023-08-02 12:18:14
2,2023-2316418,012003,1,10,NaN,0,NaN,2023-08-02 12:18:27
3,2023-2316418,012004,1,10,NaN,0,NaN,2023-08-02 12:17:27
4,2023-2316418,018001,1,10,NaN,0,NaN,2023-08-02 11:57:29
...,...,...,...,...,...,...,...,...
1048566,2023-3016074,140700,2,10,Nm,2,8.05 ...,2023-08-07 07:24:17
1048567,2023-3016074,140700,2,10,Nm,0,8.10 ...,2023-08-07 07:24:17
1048568,2023-3016074,160100,2,10,Grad,1,129.00 ...,2023-08-07 06:56:45
1048569,2023-3016074,160100,2,10,Nm,0,14.10 ...,2023-08-07 06:56:45
1048570,2023-3016074,160200,2,10,Grad,1,63.00 ...,2023-08-07 06:56:46

In [10]:
Resultados2 = pd.read_excel("../static/RESULTADOS_02_03_2024.xlsx", header=1, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

Resultados2

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.479 ...,2024-02-02 08:03:03
1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.617 ...,2024-02-02 07:37:59
2,2023-5076008,SECTION_ZP8_00000001,718,10,V,80.0,12.951 ...,2024-02-02 08:32:14
3,2023-5076015,SECTION_ZP8_00000001,718,13,V,80.0,12.223 ...,2024-02-07 14:05:16
4,2023-5076015,SECTION_ZP8_00000001,718,10,V,80.0,12.855 ...,2024-02-07 14:31:41
...,...,...,...,...,...,...,...,...
1048568,2024-0626325,324000,2,10,Grad,1.0,90.59 ...,2024-02-02 06:08:47
1048569,2024-0626325,324000,2,10,Grad,3.0,90.63 ...,2024-02-02 06:08:47
1048570,2024-0626325,324000,2,10,Nm,0.0,145.06 ...,2024-02-02 06:08:47
1048571,2024-0626325,324000,2,10,Nm,2.0,153.68 ...,2024-02-02 06:08:47
1048572,2024-0626325,324100,2,10,Grad,3.0,90.00 ...,2024-02-02 06:14:39

In [14]:
Resultados4 = pd.read_excel("../static/RESULTADOS_04_06_2024.xlsx", header=1, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

Resultados4

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-2056234,012001,1,10,NaN,NaN,NaN,2024-05-16 13:41:25
1,2023-2056234,012002,1,10,NaN,NaN,NaN,2024-05-16 14:12:35
2,2023-2056234,012003,1,10,NaN,NaN,NaN,2024-05-16 14:12:27
3,2023-2056234,012004,1,10,NaN,NaN,NaN,2024-05-16 14:11:07
4,2023-2056234,012008,1,10,NaN,NaN,NaN,2024-05-16 14:13:07
...,...,...,...,...,...,...,...,...
1048568,2024-1446373,216100,2,10,Grad,1.0,88.4 ...,2024-04-08 10:47:39
1048569,2024-1446373,216100,2,10,Nm,0.0,23.1 ...,2024-04-08 10:47:39
1048570,2024-1446373,216100,2,10,Nm,2.0,23.3 ...,2024-04-08 10:47:39
1048571,2024-1446373,216100,2,10,NaN,NaN,NaN,2024-04-08 10:47:39
1048572,2024-1446373,216200,2,10,Grad,3.0,36.7 ...,2024-04-08 10:47:52

In [15]:
Resultados6 = pd.read_excel("../static/RESULTADOS_06_2023_07_2023.xlsx", header=1, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

Resultados6

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-2016173,272500,2,10,Grad,1,1.00 ...,2023-06-06 07:07:30
1,2023-2016173,272500,2,10,Grad,3,253.00 ...,2023-06-06 07:07:30
2,2023-2016173,272500,2,10,Nm,0,2.05 ...,2023-06-06 07:07:30
3,2023-2016173,272500,2,10,Nm,2,6.00 ...,2023-06-06 07:07:30
4,2023-2016173,580300,2,10,Grad,3,13.00 ...,2023-06-06 07:07:10
...,...,...,...,...,...,...,...,...
1048568,2023-2636076,760300,2,10,Nm,0,14.22 ...,2023-06-23 13:42:07
1048569,2023-2636076,760400,2,10,Grad,1,90.00 ...,2023-06-23 13:42:15
1048570,2023-2636076,760400,2,10,Nm,0,14.23 ...,2023-06-23 13:42:15
1048571,2023-2636076,760500,2,10,Grad,1,87.00 ...,2023-07-05 06:49:44
1048572,2023-2636076,760500,2,10,Nm,0,14.19 ...,2023-07-05 06:49:44

In [16]:
Resultados10 = pd.read_excel("../static/RESULTADOS_10_2023_11_2023.xlsx", header=1, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

Resultados10

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-2316417,012001,1,10,NaN,0,NaN,2023-11-07 13:05:08
1,2023-2316417,012002,1,10,NaN,0,NaN,2023-11-07 13:23:11
2,2023-2316417,012003,1,10,NaN,0,NaN,2023-11-07 13:23:18
3,2023-2316417,012004,1,10,NaN,0,NaN,2023-11-07 13:22:00
4,2023-2316417,018001,1,10,NaN,0,NaN,2023-11-07 14:06:56
...,...,...,...,...,...,...,...,...
1048568,2023-4036280,552400,2,10,Nm,0,40.74 ...,2023-10-05 13:03:05
1048569,2023-4036280,552500,2,10,Grad,3,109.00 ...,2023-10-05 13:03:05
1048570,2023-4036280,552500,2,10,Grad,5,111.00 ...,2023-10-05 13:03:05
1048571,2023-4036280,552500,2,10,Grad,1,114.00 ...,2023-10-05 13:03:05
1048572,2023-4036280,552500,2,10,Grad,7,97.00 ...,2023-10-05 13:03:05

In [17]:
Resultados12 = pd.read_excel("../static/RESULTADOS_12_2023_01_2024.xlsx", header=1, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

Resultados12

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-2056234,192600,2,10,Grad,1,10.1 ...,2023-12-06 07:07:09
1,2023-2056234,192600,2,10,Grad,3,13.8 ...,2023-12-06 07:07:09
2,2023-2056234,192600,2,10,Nm,2,20.08 ...,2023-12-06 07:07:09
3,2023-2056234,192600,2,10,Nm,0,20.14 ...,2023-12-06 07:07:09
4,2023-2056234,192700,2,10,Grad,3,10.9 ...,2023-12-06 07:06:58
...,...,...,...,...,...,...,...,...
1048568,2023-4926054,524400,2,10,Grad,1,17.17 ...,2023-12-05 15:45:37
1048569,2023-4926054,524400,2,10,Grad,3,17.74 ...,2023-12-05 15:45:37
1048570,2023-4926054,524400,2,10,Nm,0,20.18 ...,2023-12-05 15:45:37
1048571,2023-4926054,524400,2,10,Nm,2,20.27 ...,2023-12-05 15:45:37
1048572,2023-4926054,550100,2,10,Grad,1,35.00 ...,2023-12-05 14:01:45

In [23]:
arquivos = [
    Resultados2,
    Resultados4,
    Resultados6,
    Resultados8,
    Resultados10,
    Resultados12
]
df_results = pd.concat(arquivos, ignore_index=True)
df_results

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.479 ...,2024-02-02 08:03:03
1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.617 ...,2024-02-02 07:37:59
2,2023-5076008,SECTION_ZP8_00000001,718,10,V,80.0,12.951 ...,2024-02-02 08:32:14
3,2023-5076015,SECTION_ZP8_00000001,718,13,V,80.0,12.223 ...,2024-02-07 14:05:16
4,2023-5076015,SECTION_ZP8_00000001,718,10,V,80.0,12.855 ...,2024-02-07 14:31:41
...,...,...,...,...,...,...,...,...
6291431,2023-4926054,524400,2,10,Grad,1,17.17 ...,2023-12-05 15:45:37
6291432,2023-4926054,524400,2,10,Grad,3,17.74 ...,2023-12-05 15:45:37
6291433,2023-4926054,524400,2,10,Nm,0,20.18 ...,2023-12-05 15:45:37
6291434,2023-4926054,524400,2,10,Nm,2,20.27 ...,2023-12-05 15:45:37
6291435,2023-4926054,550100,2,10,Grad,1,35.00 ...,2023-12-05 14:01:45

In [21]:
Falhas = pd.read_excel("../static/FALHAS_04_05_06_2024.xlsx", header=1, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

Falhas

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,2024-05-20 21:31:51.992
1,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÃ‡O / PICO,2024-05-20 21:30:22.772
2,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÃ“DULO DO ACC (13) PEÃ‡A INCORRETA Â¨,2024-05-20 20:04:55.534
3,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-04-11 12:15:39.616
4,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,2024-06-05 17:38:51.565
...,...,...,...,...,...,...,...,...,...
328896,2024-2976012,T-CROSS,0QA1,DHS,PCEQS315,4005452,ZP5A,TETO 05. SUJEIRA NA PINTURA,2024-06-20 08:14:38.154
328897,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS101,4006390,ZP5,PAINEL LATERAL 04. CAROÃ‡O / PICO,2024-05-21 13:55:23.385
328898,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS101,4006390,ZP5,PAINEL LATERAL 04. CAROÃ‡O / PICO,2024-05-21 13:55:24.775
328899,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS118,2075628,,WPK (CÃ‰LULA 10) FALTA LIBERACAO,2024-05-17 06:20:59.105
328900,2024-2976013,T-CROSS,0Q0Q,DHS,PCEQS314,2061350,ZP5A,PAINEL LATERAL 05. SUJEIRA NA PINTURA,2024-05-28 11:50:38.507

In [22]:
Falhas_pred = pd.read_excel('../static/FALHAS_PREDICT.xlsx', header=2, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

Falhas_pred

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),2023-01-09 22:24:44.272
1,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),2023-01-09 22:25:02.960
2,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,2023-01-10 09:18:25.238
3,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Emblema / logo - Adesivos em geral Solto(a) Â¨,2023-01-10 09:18:40.728
4,2023-4130664,AUDI Q3,6Y6Y,DSN,PCEQS805,7000240,ZP82,Painel instrumentos RuÃ­do (-),2023-01-10 11:17:56.489
...,...,...,...,...,...,...,...,...,...
663814,2024-1336453,T-CROSS,K2K2,DHS,HCEQS506,2051427,ZP7,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-03-27 14:52:39.400
663815,2024-1336485,T-CROSS,0Q0Q,DHS,HCEQS506,2044862,ZP7,PORTA TRASEIRA 03. CAVACO,2024-03-27 14:53:03.187
663816,2024-1346004,T-CROSS,A1A1,DHS,HCEQS506,2052733,ZP7,RACK DO TETO FELTRO APARENTE,2024-03-27 14:53:25.992
663817,2024-1336453,T-CROSS,K2K2,DHS,HCEQS506,2051427,ZP7,TAMPA TRASEIRA 07. FERVIDO,2024-03-27 14:53:29.873
663818,2024-1336485,T-CROSS,0Q0Q,DHS,HCEQS506,2044862,ZP7,PAINEL LATERAL PREP. PINTURA NOK,2024-03-27 14:54:05.634

In [24]:
arquivos = [
    Falhas,
    Falhas_pred
]
df_falha = pd.concat(arquivos, ignore_index=True)
df_falha

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,2024-05-20 21:31:51.992
1,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÃ‡O / PICO,2024-05-20 21:30:22.772
2,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÃ“DULO DO ACC (13) PEÃ‡A INCORRETA Â¨,2024-05-20 20:04:55.534
3,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-04-11 12:15:39.616
4,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,2024-06-05 17:38:51.565
...,...,...,...,...,...,...,...,...,...
992715,2024-1336453,T-CROSS,K2K2,DHS,HCEQS506,2051427,ZP7,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-03-27 14:52:39.400
992716,2024-1336485,T-CROSS,0Q0Q,DHS,HCEQS506,2044862,ZP7,PORTA TRASEIRA 03. CAVACO,2024-03-27 14:53:03.187
992717,2024-1346004,T-CROSS,A1A1,DHS,HCEQS506,2052733,ZP7,RACK DO TETO FELTRO APARENTE,2024-03-27 14:53:25.992
992718,2024-1336453,T-CROSS,K2K2,DHS,HCEQS506,2051427,ZP7,TAMPA TRASEIRA 07. FERVIDO,2024-03-27 14:53:29.873
992719,2024-1336485,T-CROSS,0Q0Q,DHS,HCEQS506,2044862,ZP7,PAINEL LATERAL PREP. PINTURA NOK,2024-03-27 14:54:05.634

In [25]:
df_falha = df_falha[df_falha['HALLE']=='ROD']

df_falha

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
203,2024-1346277,T-CROSS,K2K2,CWL,PCEQS709,2079860,ROD,Console central RuÃ­do de corpo estranho,2024-04-05 16:50:34.322
321,2024-1346481,T-CROSS,A1A1,DHS,PCEQS709,2043610,ROD,Revestimento coluna A RuÃ­do (-),2024-04-04 06:20:33.126
371,2024-1426013,T-CROSS,0Q0Q,DHS,PCEQS709,2077078,ROD,Tampa traseira RuÃ­do (-),2024-04-04 12:57:36.072
497,2024-1426055,T-CROSS,K2K2,DHS,PCEQS709,2077078,ROD,Revestimento coluna A RuÃ­do (-),2024-04-04 07:16:35.684
511,2024-1426066,T-CROSS,5T5T,DHS,PCEQS709,2077078,ROD,Revestimento coluna A RuÃ­do (-),2024-04-04 07:33:42.719
...,...,...,...,...,...,...,...,...,...
980865,2024-1246414,T-CROSS,0Q0Q,DRP,PCEQS709,2049732,ROD,Tampa traseira RuÃ­do (-),2024-03-22 18:39:58.187
980885,2024-1256233,T-CROSS,A1A1,DHS,PCEQS709,2057190,ROD,Console central RuÃ­do (-),2024-03-22 18:43:13.140
981032,2024-1316099,T-CROSS,5T5T,CWL,PCEQS709,4003084,ROD,Tampa traseira RuÃ­do (-),2024-03-22 20:10:22.099
981069,2024-1316101,T-CROSS,5T5T,CWL,PCEQS709,4003084,ROD,Teto/teto moldado (cheio) RuÃ­do (-),2024-03-22 20:18:34.517
981308,2024-1236086,T-CROSS,0Q0Q,DHS,PCEQS709,2049732,ROD,Revestimento coluna A RuÃ­do (-),2024-03-22 20:55:19.844

In [27]:
df_falha = df_falha.drop(columns=['HALLE'])

df_falha

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,FALHA,DATA
203,2024-1346277,T-CROSS,K2K2,CWL,PCEQS709,2079860,Console central RuÃ­do de corpo estranho,2024-04-05 16:50:34.322
321,2024-1346481,T-CROSS,A1A1,DHS,PCEQS709,2043610,Revestimento coluna A RuÃ­do (-),2024-04-04 06:20:33.126
371,2024-1426013,T-CROSS,0Q0Q,DHS,PCEQS709,2077078,Tampa traseira RuÃ­do (-),2024-04-04 12:57:36.072
497,2024-1426055,T-CROSS,K2K2,DHS,PCEQS709,2077078,Revestimento coluna A RuÃ­do (-),2024-04-04 07:16:35.684
511,2024-1426066,T-CROSS,5T5T,DHS,PCEQS709,2077078,Revestimento coluna A RuÃ­do (-),2024-04-04 07:33:42.719
...,...,...,...,...,...,...,...,...
980865,2024-1246414,T-CROSS,0Q0Q,DRP,PCEQS709,2049732,Tampa traseira RuÃ­do (-),2024-03-22 18:39:58.187
980885,2024-1256233,T-CROSS,A1A1,DHS,PCEQS709,2057190,Console central RuÃ­do (-),2024-03-22 18:43:13.140
981032,2024-1316099,T-CROSS,5T5T,CWL,PCEQS709,4003084,Tampa traseira RuÃ­do (-),2024-03-22 20:10:22.099
981069,2024-1316101,T-CROSS,5T5T,CWL,PCEQS709,4003084,Teto/teto moldado (cheio) RuÃ­do (-),2024-03-22 20:18:34.517
981308,2024-1236086,T-CROSS,0Q0Q,DHS,PCEQS709,2049732,Revestimento coluna A RuÃ­do (-),2024-03-22 20:55:19.844

In [28]:
df_status = pd.read_excel('../static/STATUS_PREDICTOR_ANO.xlsx', header=1, usecols=lambda column: column not in ['Unnamed: 0'], engine='openpyxl')

df_status

c:\Users\mario\OneDrive\Documentos\2024-2A-T08-EC07-G04\src\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                  KNR STATUS                DATA
0        2023-2016173   G620 2023-06-06 07:50:27
1        2023-2016173   M620 2023-06-06 07:50:27
2        2023-2026032   G620 2023-06-20 17:35:51
3        2023-2026032   M620 2023-06-20 17:35:51
4        2023-2026085   G620 2023-06-22 20:22:36
...               ...    ...                 ...
1048568  2023-4026001   G800 2023-10-05 06:18:10
1048569  2023-4026002   A600 2023-09-28 14:32:41
1048570  2023-4026002   R100 2023-09-28 14:32:42
1048571  2023-4026002   R120 2023-09-29 00:09:03
1048572  2023-4026002   R480 2023-09-29 07:02:34

[1048573 rows x 3 columns]

In [29]:
merged_df = df_falha.merge(df_results, on='KNR', how='inner').merge(df_status, on='KNR', how='inner')

merged_df

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,FALHA,DATA_x,NAME,ID,STATUS_x,UNIT,VALUE_ID,VALUE,DATA_y,STATUS_y,DATA
0,2023-2026098,T-CROSS,0Q0Q,DHS,PCEQS709,2058677,Interruptor desembaÃ§ador vidro traseiro FunÃ§Ã£o...,2023-05-19 07:07:53.167,272500,2,10,Grad,1,352.00 ...,2023-06-23 16:48:49,G620,2023-06-23 20:40:34
1,2023-2026098,T-CROSS,0Q0Q,DHS,PCEQS709,2058677,Interruptor desembaÃ§ador vidro traseiro FunÃ§Ã£o...,2023-05-19 07:07:53.167,272500,2,10,Grad,1,352.00 ...,2023-06-23 16:48:49,M620,2023-06-23 20:40:34
2,2023-2026098,T-CROSS,0Q0Q,DHS,PCEQS709,2058677,Interruptor desembaÃ§ador vidro traseiro FunÃ§Ã£o...,2023-05-19 07:07:53.167,272500,2,10,Nm,0,6.04 ...,2023-06-23 16:48:49,G620,2023-06-23 20:40:34
3,2023-2026098,T-CROSS,0Q0Q,DHS,PCEQS709,2058677,Interruptor desembaÃ§ador vidro traseiro FunÃ§Ã£o...,2023-05-19 07:07:53.167,272500,2,10,Nm,0,6.04 ...,2023-06-23 16:48:49,M620,2023-06-23 20:40:34
4,2023-2026098,T-CROSS,0Q0Q,DHS,PCEQS709,2058677,Interruptor desembaÃ§ador vidro traseiro FunÃ§Ã£o...,2023-05-19 07:07:53.167,580300,2,10,Grad,3,14.00 ...,2023-06-23 16:48:48,G620,2023-06-23 20:40:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6757282,2023-3956271,T-CROSS,2R2R,DHS,PCEQS709,4004537,Coluna C RuÃ­do (-),2023-10-04 12:32:37.982,SECTION_ZP8_00000001,718,10,V,80,12.693 ...,2023-10-04 14:36:12,M699,2023-10-04 08:46:35
6757283,2023-3956271,T-CROSS,2R2R,DHS,PCEQS709,4004537,Coluna C RuÃ­do (-),2023-10-04 12:32:37.982,SECTION_ZP8_00000001,718,10,V,80,12.693 ...,2023-10-04 14:36:12,M700,2023-10-04 12:14:15
6757284,2023-3956271,T-CROSS,2R2R,DHS,PCEQS709,4004537,Coluna C RuÃ­do (-),2023-10-04 12:32:37.982,SECTION_ZP8_00000001,718,10,V,80,12.693 ...,2023-10-04 14:36:12,G710,2023-10-04 12:32:39
6757285,2023-3956271,T-CROSS,2R2R,DHS,PCEQS709,4004537,Coluna C RuÃ­do (-),2023-10-04 12:32:37.982,SECTION_ZP8_00000001,718,10,V,80,12.693 ...,2023-10-04 14:36:12,G720,2023-10-04 14:36:18
6757286,2023-3956271,T-CROSS,2R2R,DHS,PCEQS709,4004537,Coluna C RuÃ­do (-),2023-10-04 12:32:37.982,SECTION_ZP8_00000001,718,10,V,80,12.693 ...,2023-10-04 14:36:12,G800,2023-10-04 14:45:42

In [30]:
merged_df.to_csv('../static/a_tabela.csv', index=True)