# Tratamento dos dados

Este notebook realiza o tratamento dos dados que serão utilizados ao longo do projeto. O tratamento de dados presente está sendo realizado para que, posteriormente, as análises e a construção do modelo sejam feitas de forma mais prática e eficiente, e coletando todos os dados da forma correta, visto a diferença dos formatos trabalhados (.csv e .xlsx), além de organizar colunas e linhas que não estão posicionadas corretamente.

##### Importando bibliotecas necessárias

In [1]:
import pandas as pd
import numpy as np

### Tratamento dos resultados

Tratamento do resultado 08_2023_09_2023

In [2]:
df_resultados_08 = pd.read_excel("RESULTADOS_08_2023_09_2023.xlsx", sheet_name=None)

df_resultados_08

/home/rafa/.local/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x7cfffcf60610>>
Traceback (most recent call last):
  File "/home/rafa/.local/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

KeyboardInterrupt:

In [ ]:
planilhas = []
for planilha,df in df_resultados_08.items():
    planilhas.append(planilha)
    print(planilha)

In [ ]:
df1_08 = df_resultados_08['Relatório 1']
df1_08.head()

In [ ]:
df1_08.drop(df1_08.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = df1_08.iloc[0]
# Pega todos os dados sem a primeira linha
df1_08 = df1_08[1:]
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = df1_08.iloc[0]
# Pega todos os dados sem a primeira linha
df1_08 = df1_08[1:]
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = df1_08.iloc[0]
# Pega todos os dados sem a primeira linha
df1_08 = df1_08[1:]
#Atualiza as linhas
df1_08.columns = colunas

In [ ]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)']

In [ ]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = df_resultados_08[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [ ]:
df_uniao_08 = df1_08
for atual_df in lista:
    df_uniao_08 = pd.concat([df_uniao_08, dfs[atual_df]], ignore_index=True)

In [ ]:
# df_uniao_08.to_csv('../static/RESULTADOS_08_2023_09_2023_juntados.csv')

Tratamento do resultado 02_03_2024

In [ ]:
df_resultados_02 = pd.read_excel("RESULTADOS_02_03_2024.xlsx", sheet_name=None)

df_resultados_02

In [ ]:
planilhas = []
for planilha,df in df_resultados_02.items():
    planilhas.append(planilha)
    print(planilha)

In [ ]:
df1_02 = df_resultados_02['Relatório 1']
df1_02.head()

In [ ]:
df1_02.drop(df1_02.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = df1_02.iloc[0]
# Pega todos os dados sem a primeira linha
df1_02 = df1_02[1:]
#Atualiza as linhas
df1_02.columns = colunas
df1_02.head()

In [ ]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)']

In [ ]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = df_resultados_02[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [ ]:
df_uniao_02 = df1_02
for atual_df in lista:
    df_uniao_02 = pd.concat([df_uniao_02, dfs[atual_df]], ignore_index=True)

In [ ]:
# df_uniao_02.to_csv('../static/RESULTADOS_02_03_2024_juntados.csv')

Tratamento do resultado 04_06_2024

In [ ]:
df_resultados_04 = pd.read_excel("RESULTADOS_04_06_2024.xlsx", sheet_name=None)

df_resultados_04

In [ ]:
planilhas = []
for planilha,df in df_resultados_04.items():
    planilhas.append(planilha)
    print(planilha)

In [ ]:
df1_04 = df_resultados_04['Relatório 1']
df1_04.head()

In [ ]:
df1_04.drop(df1_04.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = df1_04.iloc[0]
# Pega todos os dados sem a primeira linha
df1_04 = df1_04[1:]
#Atualiza as linhas
df1_04.columns = colunas
df1_04.head()

In [ ]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)',
'Relatório 1(11)',
'Relatório 1(12)',
'Relatório 1(13)',
'Relatório 1(14)',
'Relatório 1(15)',
'Relatório 1(16)',
'Relatório 1(17)',
'Relatório 1(18)',
'Relatório 1(19)',
'Relatório 1(20)']

In [ ]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = df_resultados_04[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [ ]:
df_uniao_04 = df1_04
for atual_df in lista:
    df_uniao_04 = pd.concat([df_uniao_04, dfs[atual_df]], ignore_index=True)

In [ ]:
# df_uniao_04.to_csv('../static/RESULTADOS_04_06_2024_juntados.csv')

Tratamento do resultado 06_2023_07_2023

In [ ]:
df_resultados_06 = pd.read_excel("../static/RESULTADOS_06_2023_07_2023.xlsx", sheet_name=None)

df_resultados_06

In [ ]:
planilhas = []
for planilha,df in df_resultados_06.items():
    planilhas.append(planilha)
    print(planilha)

In [ ]:
df1_06 = df_resultados_06['Relatório 1']
df1_06.head()

In [ ]:
df1_06.drop(df1_06.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = df1_06.iloc[0]
# Pega todos os dados sem a primeira linha
df1_06 = df1_06[1:]
#Atualiza as linhas
df1_06.columns = colunas
df1_06.head()

In [ ]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)',]

In [ ]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = df_resultados_06[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [ ]:
df_uniao_06 = df1_06
for atual_df in lista:
    df_uniao_06 = pd.concat([df_uniao_06, dfs[atual_df]], ignore_index=True)

In [ ]:
# df_uniao_06.to_csv('../static/RESULTADOS_06_2023_07_2023_juntados.csv')

Tratamento do resultado 10_2023_11_2023

In [ ]:
df_resultados_10 = pd.read_excel("../static/RESULTADOS_10_2023_11_2023.xlsx", sheet_name=None)

df_resultados_10

In [ ]:
planilhas = []
for planilha,df in df_resultados_10.items():
    planilhas.append(planilha)
    print(planilha)

In [ ]:
df1_10 = df_resultados_10['Relatório 1']
df1_10.head()

In [ ]:
df1_10.drop(df1_10.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = df1_10.iloc[0]
# Pega todos os dados sem a primeira linha
df1_10 = df1_10[1:]
#Atualiza as linhas
df1_10.columns = colunas
df1_10.head()

In [ ]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)',
'Relatório 1(9)',
'Relatório 1(10)',
'Relatório 1(11)',
'Relatório 1(12)',
'Relatório 1(13)']

In [ ]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = df_resultados_10[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [ ]:
df_uniao_10 = df1_10
for atual_df in lista:
    df_uniao_10 = pd.concat([df_uniao_10, dfs[atual_df]], ignore_index=True)

In [ ]:
# df_uniao_10.to_csv('../static/RESULTADOS_10_2023_11_2023_juntados.csv')

Tratamento do resultado 12_2023_01_2024

In [ ]:
df_resultados_12 = pd.read_excel("../static/RESULTADOS_12_2023_01_2024.xlsx", sheet_name=None)

df_resultados_12

In [ ]:
planilhas = []
for planilha,df in df_resultados_12.items():
    planilhas.append(planilha)
    print(planilha)

In [ ]:
df1_12 = df_resultados_12['Relatório 1']
df1_12.head()

In [ ]:
df1_12.drop(df1_12.columns[0], axis=1, inplace=True)
# Pega a primeira linha e coloca ela como as colunas do DataFrame
colunas = df1_12.iloc[0]
# Pega todos os dados sem a primeira linha
df1_12 = df1_12[1:]
#Atualiza as linhas
df1_12.columns = colunas
df1_12.head()

In [ ]:
lista = ['Relatório 1(1)',
'Relatório 1(2)',
'Relatório 1(3)',
'Relatório 1(4)',
'Relatório 1(5)',
'Relatório 1(6)',
'Relatório 1(7)',
'Relatório 1(8)']

In [ ]:
dfs = {}
for atual_df in lista:
    dfs[atual_df] = None
for atual_df in lista:
    # Preparando os demais dataframes
    dfs[atual_df] = df_resultados_12[atual_df]
    # Remover a primeira coluna
    dfs[atual_df].drop(dfs[atual_df].columns[0], axis=1, inplace=True)
    # Pega a primeira linha e coloca ela como dados do DataFrame
    linha_extra = dfs[atual_df].columns
    # Pega todos os dados sem a primeira linha
    dfs[atual_df].loc[-1] = linha_extra
    # Ajusta os indices
    dfs[atual_df].index = dfs[atual_df].index + 1
    dfs[atual_df] = dfs[atual_df].sort_index()
    #Atualiza as linhas
    dfs[atual_df].columns = colunas

In [ ]:
df_uniao_12 = df1_12
for atual_df in lista:
    df_uniao_12 = pd.concat([df_uniao_12, dfs[atual_df]], ignore_index=True)

In [ ]:
# df_uniao_12.to_csv('../static/RESULTADOS_12_2023_01_2024_juntados.csv')

In [ ]:
# df_resultados_02 = pd.read_csv('../static/RESULTADOS_02_03_2024_juntados.csv')
# df_resultados_04 = pd.read_csv('../static/RESULTADOS_04_06_2024_juntados.csv')
# df_resultados_06 = pd.read_csv('../static/RESULTADOS_06_2023_07_2023_juntados.csv')
# df_resultados_08 = pd.read_csv('../static/RESULTADOS_08_2023_09_2023_juntados.csv')
# df_resultados_10 = pd.read_csv('../static/RESULTADOS_10_2023_11_2023_juntados.csv')
# df_resultados_12 = pd.read_csv('../static/RESULTADOS_12_2023_01_2024_juntados.csv')

Junção de todos resultados em apenas um Dataframe

In [ ]:
df_resultados = pd.concat([df_uniao_02, df_uniao_04, df_uniao_06, df_uniao_08, df_uniao_10, df_uniao_12], axis=0, ignore_index=True)

df_resultados.to_csv("../static/RESULTADOS.csv", index=False)

df_resultados

In [ ]:
df_resultados = pd.read_csv("../static/RESULTADOS.csv")
df_resultados.drop(df_resultados.columns[0], axis=1, inplace=True)
df_resultados

In [ ]:
df_resultados.info()

In [ ]:
# agrupamento do df pelo KNR
df_resultados.groupby('KNR').count()

### Tratamento da tabela Falhas Predict

##### Leitura do arquivo

In [ ]:
df_falhas_predict = pd.read_excel('FALHAS_PREDICT.xlsx')

In [ ]:
df_falhas_predict.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,82662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
2,NaN,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),2023-01-09 22:24:44.272000
3,NaN,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),2023-01-09 22:25:02.960000
4,NaN,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,2023-01-10 09:18:25.238000

##### Tratamento do arquivo

Por conta das colunas não estarem definidas, e o nome das colunas estar constanto como linha, temos que reposiciona-las como colunas para um melhor manuseio dos dados.

In [ ]:
# Remoção da primeira linha
df_falhas_predict.drop(0, inplace=True) 
df_falhas_predict.drop(df_falhas_predict.columns[0], axis=1, inplace=True)

colunas = df_falhas_predict.iloc[0]
df_falhas_predict = df_falhas_predict[1:]
df_falhas_predict.columns = colunas

In [ ]:
df_falhas_predict.head()

1,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
2,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),2023-01-09 22:24:44.272000
3,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),2023-01-09 22:25:02.960000
4,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,2023-01-10 09:18:25.238000
5,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Emblema / logo - Adesivos em geral Solto(a) ¨,2023-01-10 09:18:40.728000
6,2023-4130664,AUDI Q3,6Y6Y,DSN,PCEQS805,7000240,ZP82,Painel instrumentos Ruído (-),2023-01-10 11:17:56.489000

In [ ]:
# Salvando o arquivo tratado
df_falhas_predict.to_csv('FALHAS_PREDICT_TRATADO.csv')

### Tratamento da tabela Status Predictor

Este arquivo está em formato excel e possui mais de uma página, sendo assim, se faz necessário tratar cada página e no final realizar a junção para um melhor manuseio dos dados desse arquivo.

In [ ]:
df_status_predictor = pd.read_excel('STATUS_PREDICTOR_ANO.xlsx', sheet_name=None)

/home/rafa/.local/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
# visualizar todas as páginas da planilha
planilhas = []
for planilha,df in df_status_predictor.items():
    planilhas.append(planilha)
    print(planilha)

Relatório 1
Relatório 1(1)
Relatório 1(2)
Relatório 1(3)
Relatório 1(4)

In [ ]:
df1 = df_status_predictor['Relatório 1']
df1.head()

   Unnamed: 0    Unnamed: 1 Unnamed: 2           Unnamed: 3
0         NaN           KNR     STATUS                 DATA
1         NaN  2023-2016173       G620  2023-06-06 07:50:27
2         NaN  2023-2016173       M620  2023-06-06 07:50:27
3         NaN  2023-2026032       G620  2023-06-20 17:35:51
4         NaN  2023-2026032       M620  2023-06-20 17:35:51

In [ ]:
# remove a primeira coluna
df1.drop(df1.columns[0], axis=1, inplace=True)
colunas = df1.iloc[0]

# remove a primeira linha
df1 = df1[1:]
df1.columns = colunas

df1.head()

0           KNR STATUS                 DATA
1  2023-2016173   G620  2023-06-06 07:50:27
2  2023-2016173   M620  2023-06-06 07:50:27
3  2023-2026032   G620  2023-06-20 17:35:51
4  2023-2026032   M620  2023-06-20 17:35:51
5  2023-2026085   G620  2023-06-22 20:22:36

Tratamento da segunda página

In [ ]:
df2 = df_status_predictor['Relatório 1(1)']

df2.drop(df2.columns[0], axis=1, inplace=True)
linha_extra = df2.columns
df2.loc[-1] = linha_extra
df2.index = df2.index + 1
df2 = df2.sort_index()
df2.columns = colunas

df2.head()

0           KNR STATUS                DATA
0  2023-4026002   R600 2023-09-29 07:14:44
1  2023-4026002   R700 2023-09-29 07:38:47
2  2023-4026002   R725 2023-09-29 07:53:00
3  2023-4026002   R750 2023-09-29 08:16:23
4  2023-4026002   R755 2023-09-29 08:17:01

Tratamento da terceira página

In [ ]:
df3 = df_status_predictor['Relatório 1(2)']

df3.drop(df3.columns[0], axis=1, inplace=True)
linha_extra = df3.columns
df3.loc[-1] = linha_extra
df3.index = df3.index + 1
df3 = df3.sort_index()
df3.columns = colunas

df3.head()

0           KNR STATUS                DATA
0  2024-0346154   A600 2024-01-15 11:11:44
1  2024-0346154   R100 2024-01-15 11:11:45
2  2024-0346154   R120 2024-01-15 14:08:31
3  2024-0346154   R480 2024-01-15 16:47:47
4  2024-0346154   R600 2024-01-15 17:10:14

Tratamento da quarta página

In [ ]:
df4 = df_status_predictor['Relatório 1(3)']

df4.drop(df4.columns[0], axis=1, inplace=True)
linha_extra = df4.columns
df4.loc[-1] = linha_extra
df4.index = df4.index + 1
df4 = df4.sort_index()
df4.columns = colunas

df4.head()

0           KNR STATUS                DATA
0  2024-1556203   R800 2024-04-10 19:03:20
1  2024-1556203   L100 2024-04-10 19:22:19
2  2024-1556203   L150 2024-04-11 06:57:33
3  2024-1556203   L151 2024-04-11 07:24:16
4  2024-1556203   L161 2024-04-11 08:18:50

Tratamento da quinta página

In [ ]:
df5 = df_status_predictor['Relatório 1(4)']

df5.drop(df5.columns[0], axis=1, inplace=True)
linha_extra = df5.columns
df5.loc[-1] = linha_extra
df5.index = df5.index + 1
df5 = df5.sort_index()
df5.columns = colunas

df5.head()

0           KNR STATUS                DATA
0  2024-2536233   G710 2024-06-14 17:36:53
1  2024-2536233   G720 2024-06-14 17:52:45
2  2024-2536233   G800 2024-06-14 18:07:32
3  2024-2536234   A600 2024-06-11 21:02:08
4  2024-2536234   R100 2024-06-11 21:02:09

In [ ]:
# junção de todas as páginas em um único Dataframe
df_status_predict_tratado = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
df_status_predict_tratado.shape

(4347980, 3)

In [ ]:
# salva os dados tratados em um csv
df_status_predict_tratado.to_csv('STATUS_PREDICT_TRATADO.csv')

### Falhas

In [ ]:
df_falhas = pd.read_excel('FALHAS_04_05_06_2024.xlsx')

/home/rafa/.local/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
df_falhas.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
1,NaN,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,2024-05-20 21:31:51.992000
2,NaN,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,2024-05-20 21:30:22.772000
3,NaN,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,2024-05-20 20:04:55.534000
4,NaN,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-04-11 12:15:39.616000

In [ ]:
df_falhas.shape

(328902, 10)

In [ ]:
df_falhas.drop(df_falhas.columns[0], axis=1, inplace=True)

colunas = df_falhas.iloc[0]
df_falhas = df_falhas[1:]
df_falhas.columns = colunas

In [ ]:
df_falhas.head()

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
1,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,2024-05-20 21:31:51.992000
2,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,2024-05-20 21:30:22.772000
3,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,2024-05-20 20:04:55.534000
4,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-04-11 12:15:39.616000
5,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,2024-06-05 17:38:51.565000

In [ ]:
df_falhas.to_csv('../static/FALHAS_TRATADO.csv')

### Junção dos dados de falha com os de resultado

In [ ]:
falhas_df = pd.read_csv('../static/FALHAS_TRATADO.csv')

falhas_df.head()

In [ ]:
falhas_df.drop(falhas_df.columns[0], axis=1, inplace=True)
falhas_df

In [ ]:
# deixando apenas os dados cujo HALLE seja igual a ROD
falhas_df = falhas_df[falhas_df['HALLE'].str.contains("ROD", na=False)]
falhas_df = falhas_df.drop(columns=['HALLE'])
falhas_df.head()

In [ ]:
# junção do df de resultados com de falhas através do KNR
df = pd.merge(df_resultados, falhas_df, on='KNR', how='outer')

In [ ]:
df.head()

In [ ]:
# removendo a coluna MODELO pois é o mesmo dado para todas as linhas
df = df.drop(columns=['MODELO'])
df

In [ ]:
# coluna FALHA em letras minúsculas para melhor manuseamento
df['FALHA'] = df['FALHA'].str.lower()

In [ ]:
# removendo linhas duplicadas no df
df = df.drop_duplicates()

In [ ]:
df.to_csv("../static/FALHA_RESULTADOS.csv", index=False)